/*=============================================== Colors ===============================================*/

// In this file there are only CSS classes with colors. You can edit all colors in _scss/_variables.scss.

/*=========================== Backgrounds ===========================*/

.bg-primary {
    background-color: $primary !important;
}

.bg-primary-75 {
    background-color: $primary-75 !important;
}

.bg-primary-5 {
    background-color: $primary-5 !important;
}

.bg-secondary {
    background-color: $secondary !important;
}

.bg-secondary-75 {
    background-color: $secondary-75 !important;
}

.bg-secondary-5 {
    background-color: $secondary-5 !important;
}

.bg-success {
    background-color: $success !important;
}

.bg-success-75 {
    background-color: $success-75 !important;
}

.bg-success-5 {
    background-color: $success-5 !important;
}

.bg-danger {
    background-color: $danger !important;
}

.bg-danger-75 {
    background-color: $danger-75 !important;
}

.bg-danger-5 {
    background-color: $danger-5 !important;
}

.bg-warning {
    background-color: $warning !important;
}

.bg-warning-75 {
    background-color: $warning-75 !important;
}

.bg-warning-5 {
    background-color: $warning-5 !important;
}

.bg-black {
    background-color: $black !important;
}

.bg-dark-gray {
    background-color: $dark-gray !important;
}

.bg-gray {
    background-color: $gray !important;
}

.bg-light-gray {
    background-color: $light-gray !important;
}

.bg-lighter-gray {
    background-color: $lighter-gray !important;
}

.bg-gray-5 {
    background-color: $gray-5 !important;
}

.bg-grayscale-100 {
    background-color: $grayscale-100 !important;
}

.bg-grayscale-95 {
    background-color: $grayscale-95 !important;
}

.bg-grayscale-90 {
    background-color: $grayscale-90 !important;
}

.bg-grayscale-85 {
    background-color: $grayscale-85 !important;
}

.bg-grayscale-80 {
    background-color: $grayscale-80 !important;
}

.bg-grayscale-75 {
    background-color: $grayscale-75 !important;
}

.bg-grayscale-70 {
    background-color: $grayscale-70 !important;
}

.bg-grayscale-65 {
    background-color: $grayscale-65 !important;
}

.bg-grayscale-60 {
    background-color: $grayscale-60 !important;
}

.bg-grayscale-55 {
    background-color: $grayscale-55 !important;
}

.bg-grayscale-5 {
    background-color: $grayscale-5 !important;
}

.bg-grayscale-45 {
    background-color: $grayscale-45 !important;
}

.bg-grayscale-40 {
    background-color: $grayscale-40 !important;
}

.bg-grayscale-35 {
    background-color: $grayscale-35 !important;
}

.bg-grayscale-30 {
    background-color: $grayscale-30 !important;
}

.bg-grayscale-25 {
    background-color: $grayscale-25 !important;
}

.bg-grayscale-20 {
    background-color: $grayscale-20 !important;
}

.bg-grayscale-15 {
    background-color: $grayscale-15 !important;
}

.bg-grayscale-10 {
    background-color: $grayscale-10 !important;
}

.bg-grayscale-5 {
    background-color: $grayscale-5 !important;
}

/*=========================== Borders ===========================*/

.border-primary {
    border-color: $primary !important;
}

.border-primary-75 {
    border-color: $primary-75 !important;
}

.border-primary-5 {
    border-color: $primary-5 !important;
}

.border-secondary {
    border-color: $secondary !important;
}

.border-secondary-75 {
    border-color: $secondary-75 !important;
}

.border-secondary-5 {
    border-color: $secondary-5 !important;
}

.border-success {
    border-color: $success !important;
}

.border-success-75 {
    border-color: $success-75 !important;
}

.border-success-5 {
    border-color: $success-5 !important;
}

.border-danger {
    border-color: $danger !important;
}

.border-danger-75 {
    border-color: $danger-75 !important;
}

.border-danger-5 {
    border-color: $danger-5 !important;
}

.border-warning {
    border-color: $warning !important;
}

.border-warning-75 {
    border-color: $warning-75 !important;
}

.border-warning-5 {
    border-color: $warning-5 !important;
}

.border-black {
    border-color: $black !important;
}

.border-dark-gray {
    border-color: $dark-gray !important;
}

.border-gray {
    border-color: $gray !important;
}

.border-light-gray {
    border-color: $light-gray !important;
}

.border-lighter-gray {
    border-color: $lighter-gray !important;
}

.border-gray-5 {
    border-color: $gray-5 !important;
}

.border-grayscale-100 {
    border-color: $grayscale-100 !important;
}

.border-grayscale-95 {
    border-color: $grayscale-95 !important;
}

.border-grayscale-90 {
    border-color: $grayscale-90 !important;
}

.border-grayscale-85 {
    border-color: $grayscale-85 !important;
}

.border-grayscale-80 {
    border-color: $grayscale-80 !important;
}

.border-grayscale-75 {
    border-color: $grayscale-75 !important;
}

.border-grayscale-70 {
    border-color: $grayscale-70 !important;
}

.border-grayscale-65 {
    border-color: $grayscale-65 !important;
}

.border-grayscale-60 {
    border-color: $grayscale-60 !important;
}

.border-grayscale-55 {
    border-color: $grayscale-55 !important;
}

.border-grayscale-5 {
    border-color: $grayscale-5 !important;
}

.border-grayscale-45 {
    border-color: $grayscale-45 !important;
}

.border-grayscale-40 {
    border-color: $grayscale-40 !important;
}

.border-grayscale-35 {
    border-color: $grayscale-35 !important;
}

.border-grayscale-30 {
    border-color: $grayscale-30 !important;
}

.border-grayscale-25 {
    border-color: $grayscale-25 !important;
}

.border-grayscale-20 {
    border-color: $grayscale-20 !important;
}

.border-grayscale-15 {
    border-color: $grayscale-15 !important;
}

.border-grayscale-10 {
    border-color: $grayscale-10 !important;
}

.border-grayscale-5 {
    border-color: $grayscale-5 !important;
}

/*=========================== Fonts ===========================*/

.font-primary {
    color: $primary !important;
}

.font-primary-75 {
    color: $primary-75 !important;
}

.font-primary-5 {
    color: $primary-5 !important;
}

.font-secondary {
    color: $secondary !important;
}

.font-secondary-75 {
    color: $secondary-75 !important;
}

.font-secondary-5 {
    color: $secondary-5 !important;
}

.font-success {
    color: $success !important;
}

.font-success-75 {
    color: $success-75 !important;
}

.font-success-5 {
    color: $success-5 !important;
}

.font-danger {
    color: $danger !important;
}

.font-danger-75 {
    color: $danger-75 !important;
}

.font-danger-5 {
    color: $danger-5 !important;
}

.font-warning {
    color: $warning !important;
}

.font-warning-75 {
    color: $warning-75 !important;
}

.font-warning-5 {
    color: $warning-5 !important;
}

.font-black {
    color: $black !important;
}

.font-dark-gray {
    color: $dark-gray !important;
}

.font-gray {
    color: $gray !important;
}

.font-light-gray {
    color: $light-gray !important;
}

.font-lighter-gray {
    color: $lighter-gray !important;
}

.font-gray-5 {
    color: $gray-5 !important;
}

.font-grayscale-100 {
    color: $grayscale-100 !important;
}

.font-grayscale-95 {
    color: $grayscale-95 !important;
}

.font-grayscale-90 {
    color: $grayscale-90 !important;
}

.font-grayscale-85 {
    color: $grayscale-85 !important;
}

.font-grayscale-80 {
    color: $grayscale-80 !important;
}

.font-grayscale-75 {
    color: $grayscale-75 !important;
}

.font-grayscale-70 {
    color: $grayscale-70 !important;
}

.font-grayscale-65 {
    color: $grayscale-65 !important;
}

.font-grayscale-60 {
    color: $grayscale-60 !important;
}

.font-grayscale-55 {
    color: $grayscale-55 !important;
}

.font-grayscale-5 {
    color: $grayscale-5 !important;
}

.font-grayscale-45 {
    color: $grayscale-45 !important;
}

.font-grayscale-40 {
    color: $grayscale-40 !important;
}

.font-grayscale-35 {
    color: $grayscale-35 !important;
}

.font-grayscale-30 {
    color: $grayscale-30 !important;
}

.font-grayscale-25 {
    color: $grayscale-25 !important;
}

.font-grayscale-20 {
    color: $grayscale-20 !important;
}

.font-grayscale-15 {
    color: $grayscale-15 !important;
}

.font-grayscale-10 {
    color: $grayscale-10 !important;
}

.font-grayscale-5 {
    color: $grayscale-5 !important;
}
