/*=============================================== Fonts ===============================================*/

/*=========================== Reset ===========================*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ul.list,
ol,
dl,
li,
dt,
dd {
    @include paMar();
    width: 100%;
}

/*=========================== Titles ===========================*/

h1 {
    @include font-title(32px);
    margin: $margin-l 0;

    &.display {
        @include font-size(5vw);

        @media (max-width: $breakpoint-mobile) {
            @include font-size(70px);
        }
    }
}

h2 {
    @include font-title(24px);
    margin: $margin-l 0;

    &.display {
        @include font-size(4.5vw);

        @media (max-width: $breakpoint-mobile) {
            @include font-size(64px);
        }
    }
}

h3 {
    @include font-body-bold(24px);
    margin: $margin-l 0;

    &.display {
        @include font-title(4vw);

        @media (max-width: $breakpoint-mobile) {
            @include font-size(56px);
        }
    }
}

h4 {
    @include font-title(18px);
    margin: $margin-m 0;

    &.display {
        @include font-size(3.5vw);
        margin: $margin-l 0;

        @media (max-width: $breakpoint-mobile) {
            @include font-size(48px);
        }
    }
}

h5 {
    @include font-body-bold(18px);
    margin: $margin-m 0;

    &.display {
        @include font-title(3vw);
        margin: $margin-l 0;

        @media (max-width: $breakpoint-mobile) {
            @include font-size(40px);
        }
    }
}

h6 {
    @include font-title(16px);
    margin: $margin-s 0;
}

/*=========================== Nav ===========================*/

nav {
    @include font-title(16px);
}

/*=========================== Body ===========================*/

p {
    @include font-body(16px);
    margin: $margin-s 0;

    strong {
        @include font-body-bold(16px);
    }

    em {
        @include font-body-italic(16px);
    }

    strong em,
    em strong {
        @include font-body-bold-italic(16px);
    }

    a {
        @include links($primary, $primary-75, 16px);
    }

    code {
        font-family: var(--font-code);
        color: $secondary;
        padding: $margin-xxs;
        background-color: $gray-5;
        border: 1px solid $lighter-gray;
        @include border-radius($radius-s);
    }
}

/*=========================== Quote ===========================*/

blockquote {
    @include font-body-bold-italic(18px);
    padding: $margin-s;
}

/*=========================== Lists ===========================*/

ul.list {
    @include ulNone();
    @include font-body(16px);
    padding: $margin-s;

    li {
        @include flexbox(flex-start, flex-start, nowrap);

        &:before {
            @include icon("\e988");
            font-size: 12px;
            line-height: calc(16px * 1.4);
            margin-right: $margin-xxs;
            padding-top: 1px;
            color: $gray;
        }

        &:not(:last-child) {
            margin-bottom: $margin-xs;
        }
    }
}

ol {
    @include font-body(16px);
    padding: $margin-s;
    padding-left: $margin-xl;

    li:not(:last-child) {
        margin-bottom: $margin-xs;
    }
}

dl {
    padding: $margin-s;

    dt {
        @include font-title(18px);
    }

    dd {
        padding-left: $margin-l;

        &:not(:last-child) {
            margin-bottom: $margin-s;
        }
    }
}

/*=========================== Subtitles ===========================*/

small {
    @include font-body-italic(14px);
    color: $gray;
    margin: $margin-xs 0;
}

/*=========================== Tags ===========================*/

.tag {
    @include font-body(16px);

    &.tag-small {
        @include font-size(14px);
    }
}

/*=========================== Buttons ===========================*/

.btn {
    @include font-body(14px);
    text-decoration: none;
    color: $black;

    &.btn-big,
    &.btn-half,
    &.btn-full {
        @include font-size(20px);
    }
}

/*=========================== Inputs ===========================*/

input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
textarea {
    @include font-body(14px);
    color: $black;

    &::placeholder {
        color: $light-gray;
    }

    &:disabled {
        color: $gray;

        &::placeholder {
            color: $gray;
        }
    }
}

label {
    @include font-body(14px);

    &.disabled {
        color: $gray;
    }
}

/*=========================== Tables ===========================*/

table {
    @include font-body(14px);
}

/*=========================== Footer ===========================*/

footer {
    p {
        @include font-body(14px);

        a {
            @include links($primary, $primary-75, 14px);
        }
    }
}
