<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Accordion</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Accordion</h1>
			<section>
				<h2>Without background</h2>
				<div class="accordion accordion-no-bg">
					<div class="accordion-content">
						<input type="radio" name="accordion-no-bg" id="accordion-1-no-bg" checked />
						<label for="accordion-1-no-bg" class="font-primary">Title</label>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula ligula et ante bibendum, et hendrerit eros laoreet. Nam sit amet tortor vitae libero finibus placerat. Etiam ultricies volutpat dapibus. Nunc non placerat libero, a aliquam lorem. Nulla et erat egestas, aliquet lectus sit amet, gravida dui. Nunc suscipit libero eu risus viverra scelerisque. Donec in sem quis odio semper auctor. Suspendisse efficitur velit orci, in varius urna porta ut.
							Morbi tincidunt justo id augue malesuada rhoncus. Aliquam nec eros et velit rhoncus luctus. Nunc condimentum mollis risus, in posuere lacus pharetra et.
						</p>
					</div>

					<div class="accordion-content">
						<input type="radio" name="accordion-no-bg" id="accordion-2-no-bg" />
						<label for="accordion-2-no-bg" class="font-primary">Title</label>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula ligula et ante bibendum, et hendrerit eros laoreet. Nam sit amet tortor vitae libero finibus placerat. Etiam ultricies volutpat dapibus. Nunc non placerat libero, a aliquam lorem. Nulla et erat egestas, aliquet lectus sit amet, gravida dui. Nunc suscipit libero eu risus viverra scelerisque. Donec in sem quis odio semper auctor. Suspendisse efficitur velit orci, in varius urna porta ut.
							Morbi tincidunt justo id augue malesuada rhoncus. Aliquam nec eros et velit rhoncus luctus. Nunc condimentum mollis risus, in posuere lacus pharetra et.
						</p>
					</div>

					<div class="accordion-content">
						<input type="radio" name="accordion-no-bg" id="accordion-3-no-bg" />
						<label for="accordion-3-no-bg" class="font-primary">Title</label>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula ligula et ante bibendum, et hendrerit eros laoreet. Nam sit amet tortor vitae libero finibus placerat. Etiam ultricies volutpat dapibus. Nunc non placerat libero, a aliquam lorem. Nulla et erat egestas, aliquet lectus sit amet, gravida dui. Nunc suscipit libero eu risus viverra scelerisque. Donec in sem quis odio semper auctor. Suspendisse efficitur velit orci, in varius urna porta ut.
							Morbi tincidunt justo id augue malesuada rhoncus. Aliquam nec eros et velit rhoncus luctus. Nunc condimentum mollis risus, in posuere lacus pharetra et.
						</p>
					</div>

					<div class="accordion-content">
						<input type="radio" name="accordion-no-bg" id="accordion-4-no-bg" />
						<label for="accordion-4-no-bg" class="font-primary">Title</label>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula ligula et ante bibendum, et hendrerit eros laoreet. Nam sit amet tortor vitae libero finibus placerat. Etiam ultricies volutpat dapibus. Nunc non placerat libero, a aliquam lorem. Nulla et erat egestas, aliquet lectus sit amet, gravida dui. Nunc suscipit libero eu risus viverra scelerisque. Donec in sem quis odio semper auctor. Suspendisse efficitur velit orci, in varius urna porta ut.
							Morbi tincidunt justo id augue malesuada rhoncus. Aliquam nec eros et velit rhoncus luctus. Nunc condimentum mollis risus, in posuere lacus pharetra et.
						</p>
					</div>

					<div class="accordion-content">
						<input type="radio" name="accordion-no-bg" id="accordion-5-no-bg" />
						<label for="accordion-5-no-bg" class="font-primary">Title</label>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula ligula et ante bibendum, et hendrerit eros laoreet. Nam sit amet tortor vitae libero finibus placerat. Etiam ultricies volutpat dapibus. Nunc non placerat libero, a aliquam lorem. Nulla et erat egestas, aliquet lectus sit amet, gravida dui. Nunc suscipit libero eu risus viverra scelerisque. Donec in sem quis odio semper auctor. Suspendisse efficitur velit orci, in varius urna porta ut.
							Morbi tincidunt justo id augue malesuada rhoncus. Aliquam nec eros et velit rhoncus luctus. Nunc condimentum mollis risus, in posuere lacus pharetra et.
						</p>
					</div>
				</div>
			</section>
			<hr />
			<section>
				<h2>With background</h2>
				<div class="accordion accordion-bg bg-white">
					<div class="accordion-content">
						<input type="radio" name="accordion-bg" id="accordion-1-bg" checked />
						<label for="accordion-1-bg" class="bg-primary">Title</label>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula ligula et ante bibendum, et hendrerit eros laoreet. Nam sit amet tortor vitae libero finibus placerat. Etiam ultricies volutpat dapibus. Nunc non placerat libero, a aliquam lorem. Nulla et erat egestas, aliquet lectus sit amet, gravida dui. Nunc suscipit libero eu risus viverra scelerisque. Donec in sem quis odio semper auctor. Suspendisse efficitur velit orci, in varius urna porta ut.
							Morbi tincidunt justo id augue malesuada rhoncus. Aliquam nec eros et velit rhoncus luctus. Nunc condimentum mollis risus, in posuere lacus pharetra et.
						</p>
					</div>

					<div class="accordion-content">
						<input type="radio" name="accordion-bg" id="accordion-2-bg" />
						<label for="accordion-2-bg" class="bg-primary">Title</label>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula ligula et ante bibendum, et hendrerit eros laoreet. Nam sit amet tortor vitae libero finibus placerat. Etiam ultricies volutpat dapibus. Nunc non placerat libero, a aliquam lorem. Nulla et erat egestas, aliquet lectus sit amet, gravida dui. Nunc suscipit libero eu risus viverra scelerisque. Donec in sem quis odio semper auctor. Suspendisse efficitur velit orci, in varius urna porta ut.
							Morbi tincidunt justo id augue malesuada rhoncus. Aliquam nec eros et velit rhoncus luctus. Nunc condimentum mollis risus, in posuere lacus pharetra et.
						</p>
					</div>

					<div class="accordion-content">
						<input type="radio" name="accordion-bg" id="accordion-3-bg" />
						<label for="accordion-3-bg" class="bg-primary">Title</label>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula ligula et ante bibendum, et hendrerit eros laoreet. Nam sit amet tortor vitae libero finibus placerat. Etiam ultricies volutpat dapibus. Nunc non placerat libero, a aliquam lorem. Nulla et erat egestas, aliquet lectus sit amet, gravida dui. Nunc suscipit libero eu risus viverra scelerisque. Donec in sem quis odio semper auctor. Suspendisse efficitur velit orci, in varius urna porta ut.
							Morbi tincidunt justo id augue malesuada rhoncus. Aliquam nec eros et velit rhoncus luctus. Nunc condimentum mollis risus, in posuere lacus pharetra et.
						</p>
					</div>

					<div class="accordion-content">
						<input type="radio" name="accordion-bg" id="accordion-4-bg" />
						<label for="accordion-4-bg" class="bg-primary">Title</label>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula ligula et ante bibendum, et hendrerit eros laoreet. Nam sit amet tortor vitae libero finibus placerat. Etiam ultricies volutpat dapibus. Nunc non placerat libero, a aliquam lorem. Nulla et erat egestas, aliquet lectus sit amet, gravida dui. Nunc suscipit libero eu risus viverra scelerisque. Donec in sem quis odio semper auctor. Suspendisse efficitur velit orci, in varius urna porta ut.
							Morbi tincidunt justo id augue malesuada rhoncus. Aliquam nec eros et velit rhoncus luctus. Nunc condimentum mollis risus, in posuere lacus pharetra et.
						</p>
					</div>

					<div class="accordion-content">
						<input type="radio" name="accordion-bg" id="accordion-5-bg" />
						<label for="accordion-5-bg" class="bg-primary">Title</label>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula ligula et ante bibendum, et hendrerit eros laoreet. Nam sit amet tortor vitae libero finibus placerat. Etiam ultricies volutpat dapibus. Nunc non placerat libero, a aliquam lorem. Nulla et erat egestas, aliquet lectus sit amet, gravida dui. Nunc suscipit libero eu risus viverra scelerisque. Donec in sem quis odio semper auctor. Suspendisse efficitur velit orci, in varius urna porta ut.
							Morbi tincidunt justo id augue malesuada rhoncus. Aliquam nec eros et velit rhoncus luctus. Nunc condimentum mollis risus, in posuere lacus pharetra et.
						</p>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
