<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Alerts</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />

		<style>
			.alert {
				float: left;
				clear: both;
				margin-bottom: 20px;
			}
		</style>
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Alerts</h1>
			<section>
				<h2>No button</h2>
				<div class="alert alert-success">
					<span></span>
					<i class="icon icon-check-circle-solid"></i>
					<div class="container-alert">
						<p class="title-alert">Success!</p>
						<p class="text-alert">Success text</p>
					</div>
				</div>

				<div class="alert alert-danger">
					<span></span>
					<i class="icon icon-not-allowed-solid"></i>
					<div class="container-alert">
						<p class="title-alert">Error!</p>
						<p class="text-alert">Error text</p>
					</div>
				</div>

				<div class="alert alert-warning">
					<span></span>
					<i class="icon icon-warning-bold"></i>
					<div class="container-alert">
						<p class="title-alert">Warning!</p>
						<p class="text-alert">Warning text</p>
					</div>
				</div>
			</section>

			<section>
				<h2>1 button</h2>
				<div class="alert alert-success">
					<span></span>
					<i class="icon icon-check-circle-solid"></i>
					<div class="container-alert">
						<p class="title-alert">Success!</p>
						<p class="text-alert">Success text</p>
					</div>
					<div class="buttons">
						<a href="#" class="btn btn-rectangle btn-success">Ok</a>
					</div>
				</div>

				<div class="alert alert-danger">
					<span></span>
					<i class="icon icon-not-allowed-solid"></i>
					<div class="container-alert">
						<p class="title-alert">Error!</p>
						<p class="text-alert">Error text</p>
					</div>
					<div class="buttons">
						<a href="#" class="btn btn-rectangle btn-danger">Ok</a>
					</div>
				</div>

				<div class="alert alert-warning">
					<span></span>
					<i class="icon icon-warning-bold"></i>
					<div class="container-alert">
						<p class="title-alert">Warning!</p>
						<p class="text-alert">Warning text</p>
					</div>
					<div class="buttons">
						<a href="#" class="btn btn-rectangle btn-warning">Ok</a>
					</div>
				</div>
			</section>

			<section>
				<h2>2 buttons</h2>
				<div class="alert alert-success">
					<span></span>
					<i class="icon icon-check-circle-solid"></i>
					<div class="container-alert">
						<p class="title-alert">Success!</p>
						<p class="text-alert">Success text</p>
					</div>
					<div class="buttons">
						<a href="#" class="btn btn-rectangle btn-outline btn-gray">Cancel</a>
						<a href="#" class="btn btn-rectangle btn-success">Ok</a>
					</div>
				</div>

				<div class="alert alert-danger">
					<span></span>
					<i class="icon icon-not-allowed-solid"></i>
					<div class="container-alert">
						<p class="title-alert">Error!</p>
						<p class="text-alert">Error text</p>
					</div>
					<div class="buttons">
						<a href="#" class="btn btn-rectangle btn-outline btn-gray">Cancel</a>
						<a href="#" class="btn btn-rectangle btn-danger">Ok</a>
					</div>
				</div>

				<div class="alert alert-warning">
					<span></span>
					<i class="icon icon-warning-bold"></i>
					<div class="container-alert">
						<p class="title-alert">Warning!</p>
						<p class="text-alert">Warning text</p>
					</div>
					<div class="buttons">
						<a href="#" class="btn btn-rectangle btn-outline btn-gray">Cancel</a>
						<a href="#" class="btn btn-rectangle btn-warning">Ok</a>
					</div>
				</div>
			</section>

			<section>
				<h2>With a background</h2>
				<div class="alert alert-bg alert-success">
					<i class="icon icon-check-circle-solid"></i>
					<div class="container-alert">
						<p class="title-alert">Success!</p>
						<p class="text-alert">Success text</p>
					</div>
				</div>

				<div class="alert alert-bg alert-danger">
					<i class="icon icon-not-allowed-solid"></i>
					<div class="container-alert">
						<p class="title-alert">Error!</p>
						<p class="text-alert">Error text</p>
					</div>
				</div>

				<div class="alert alert-bg alert-warning">
					<i class="icon icon-warning-bold"></i>
					<div class="container-alert">
						<p class="title-alert">Warning!</p>
						<p class="text-alert">Warning text</p>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
