<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Attribute</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Text Attribute</h1>
			<section>
				<p class="attribute">
					Hover me
					<span class="attribute-text bg-primary">Attribute</span>
				</p>
			</section>
		</main>
	</body>
</html>
