<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Avatar</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />
		<style>
			.avatar {
				margin-right: 20px;
			}
		</style>
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Avatar</h1>
			<section>
				<h2>With picture</h2>
				<div class="avatar avatar-80" style="background: url(../images/pic-avatar.jpg)"></div>
				<div class="avatar avatar-72" style="background: url(../images/pic-avatar.jpg)"></div>
				<div class="avatar avatar-64" style="background: url(../images/pic-avatar.jpg)"></div>
				<div class="avatar avatar-56" style="background: url(../images/pic-avatar.jpg)"></div>
				<div class="avatar avatar-48" style="background: url(../images/pic-avatar.jpg)"></div>
				<div class="avatar avatar-40" style="background: url(../images/pic-avatar.jpg)"></div>
				<div class="avatar avatar-32" style="background: url(../images/pic-avatar.jpg)"></div>
				<div class="avatar avatar-24" style="background: url(../images/pic-avatar.jpg)"></div>
				<div class="avatar avatar-16" style="background: url(../images/pic-avatar.jpg)"></div>
			</section>
			<hr />
			<section>
				<h2>Without picture</h2>
				<div class="avatar avatar-empty avatar-80"></div>
				<div class="avatar avatar-empty avatar-72"></div>
				<div class="avatar avatar-empty avatar-64"></div>
				<div class="avatar avatar-empty avatar-56"></div>
				<div class="avatar avatar-empty avatar-48"></div>
				<div class="avatar avatar-empty avatar-40"></div>
				<div class="avatar avatar-empty avatar-32"></div>
				<div class="avatar avatar-empty avatar-24"></div>
				<div class="avatar avatar-empty avatar-16"></div>
			</section>
		</main>
	</body>
</html>
