<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Badges</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />
		<style>
			.badge {
				margin-right: 20px;
			}
		</style>
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Badges</h1>
			<section>
				<div class="badge bg-primary"><p>Badge</p></div>
				<div class="badge bg-secondary"><p>Badge</p></div>
				<div class="badge bg-success"><p>Badge</p></div>
				<div class="badge bg-danger"><p>Badge</p></div>
				<div class="badge bg-warning"><p>Badge</p></div>
			</section>
		</main>
	</body>
</html>
