<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Blockquote</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Blockquote</h1>
			<section>
				<blockquote>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor vulputate nunc. Sed consectetur rutrum justo. Mauris at eleifend turpis, sed pharetra enim. Integer blandit nunc vel augue hendrerit, a efficitur dolor dapibus. Donec scelerisque vitae nibh eget interdum. Donec blandit luctus purus, non ultricies nisi ullamcorper tempor. Aenean sed est ut neque dictum eleifend nec at nibh.</p>
					<small>Ray Cooper</small>
				</blockquote>
			</section>
		</main>
	</body>
</html>
