<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Breadcrumbs</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />
		<style></style>
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Breadcrumbs</h1>
			<section>
				<ul class="breadcrumbs">
					<li class="breadcrumbs-links"><a href="#">Breadcrumbs Links</a></li>
					<li class="breadcrumbs-links"><a href="#">Breadcrumbs Links</a></li>
					<li class="breadcrumbs-links"><a href="#">Breadcrumbs Links</a></li>
					<li class="breadcrumbs-active">Breadcrumbs active</li>
				</ul>
			</section>
		</main>
	</body>
</html>
