<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Buttons</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />
		<style>
			.btn {
				margin-right: 20px;
			}

			.btn-full {
				margin-bottom: 20px;
			}

			.dropdown .dropdown-content {
				top: 38px;
			}

			.results .list-results .dropdown-content li {
				float: none;
			}
		</style>
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Buttons</h1>

			<section>
				<h2>Normal</h2>
				<a href="#" class="btn btn-rectangle btn-primary">Primary</a>
				<a href="#" class="btn btn-rectangle btn-secondary">Secondary</a>
				<a href="#" class="btn btn-rectangle btn-success">Success</a>
				<a href="#" class="btn btn-rectangle btn-danger">Danger</a>
				<a href="#" class="btn btn-rectangle btn-warning">Warning</a>
				<a href="#" class="btn btn-rectangle btn-white">White</a>
				<a href="#" class="btn btn-rectangle btn-disabled">Disabled</a>
			</section>
			<hr />
			<section>
				<h2>Outline</h2>
				<a href="#" class="btn btn-rectangle btn-outline btn-primary">Primary</a>
				<a href="#" class="btn btn-rectangle btn-outline btn-secondary">Secondary</a>
				<a href="#" class="btn btn-rectangle btn-outline btn-success">Success</a>
				<a href="#" class="btn btn-rectangle btn-outline btn-danger">Danger</a>
				<a href="#" class="btn btn-rectangle btn-outline btn-warning">Warning</a>
				<a href="#" class="btn btn-rectangle btn-outline btn-gray">Gray</a>
				<a href="#" class="btn btn-rectangle btn-outline btn-white">White</a>
				<a href="#" class="btn btn-rectangle btn-outline btn-disabled">Disabled</a>
			</section>
			<hr />
			<section>
				<h2>Pill</h2>
				<a href="#" class="btn btn-pill btn-primary">Primary</a>
				<a href="#" class="btn btn-pill btn-secondary">Secondary</a>
				<a href="#" class="btn btn-pill btn-success">Success</a>
				<a href="#" class="btn btn-pill btn-danger">Danger</a>
				<a href="#" class="btn btn-pill btn-warning">Warning</a>
				<a href="#" class="btn btn-pill btn-white">White</a>
				<a href="#" class="btn btn-pill btn-disabled">Disabled</a>
			</section>
			<hr />
			<section>
				<h2>Pill Outline</h2>
				<a href="#" class="btn btn-pill btn-outline btn-primary">Primary</a>
				<a href="#" class="btn btn-pill btn-outline btn-secondary">Secondary</a>
				<a href="#" class="btn btn-pill btn-outline btn-success">Success</a>
				<a href="#" class="btn btn-pill btn-outline btn-danger">Danger</a>
				<a href="#" class="btn btn-pill btn-outline btn-warning">Warning</a>
				<a href="#" class="btn btn-pill btn-outline btn-gray">Gray</a>
				<a href="#" class="btn btn-pill btn-outline btn-white">White</a>
				<a href="#" class="btn btn-pill btn-outline btn-disabled">Disabled</a>
			</section>
			<hr />
			<section>
				<h2>Large</h2>
				<a href="#" class="btn btn-rectangle btn-primary btn-large">Primary</a>
				<a href="#" class="btn btn-rectangle btn-secondary btn-large">Secondary</a>
				<a href="#" class="btn btn-rectangle btn-success btn-large">Success</a>
				<a href="#" class="btn btn-rectangle btn-danger btn-large">Danger</a>
				<a href="#" class="btn btn-rectangle btn-warning btn-large">Warning</a>
				<a href="#" class="btn btn-rectangle btn-white btn-large">White</a>
				<a href="#" class="btn btn-rectangle btn-disabled btn-large">Disabled</a>
			</section>
			<hr />
			<section>
				<h2>Large outline</h2>
				<a href="#" class="btn btn-rectangle btn-outline btn-primary btn-large">Primary</a>
				<a href="#" class="btn btn-rectangle btn-outline btn-secondary btn-large">Secondary</a>
				<a href="#" class="btn btn-rectangle btn-outline btn-success btn-large">Success</a>
				<a href="#" class="btn btn-rectangle btn-outline btn-danger btn-large">Danger</a>
				<a href="#" class="btn btn-rectangle btn-outline btn-warning btn-large">Warning</a>
				<a href="#" class="btn btn-rectangle btn-outline btn-gray btn-large">Gray</a>
				<a href="#" class="btn btn-rectangle btn-outline btn-white btn-large">White</a>
				<a href="#" class="btn btn-rectangle btn-outline btn-disabled btn-large">Disabled</a>
			</section>
			<hr />
			<section>
				<h2>Large Pill</h2>
				<a href="#" class="btn btn-pill btn-primary btn-large">Primary</a>
				<a href="#" class="btn btn-pill btn-secondary btn-large">Secondary</a>
				<a href="#" class="btn btn-pill btn-success btn-large">Success</a>
				<a href="#" class="btn btn-pill btn-danger btn-large">Danger</a>
				<a href="#" class="btn btn-pill btn-warning btn-large">Warning</a>
				<a href="#" class="btn btn-pill btn-white btn-large">White</a>
				<a href="#" class="btn btn-pill btn-disabled btn-large">Disabled</a>
			</section>
			<hr />
			<section>
				<h2>Large pill outline</h2>
				<a href="#" class="btn btn-pill btn-outline btn-primary btn-large">Primary</a>
				<a href="#" class="btn btn-pill btn-outline btn-secondary btn-large">Secondary</a>
				<a href="#" class="btn btn-pill btn-outline btn-success btn-large">Success</a>
				<a href="#" class="btn btn-pill btn-outline btn-danger btn-large">Danger</a>
				<a href="#" class="btn btn-pill btn-outline btn-warning btn-large">Warning</a>
				<a href="#" class="btn btn-pill btn-outline btn-gray btn-large">Gray</a>
				<a href="#" class="btn btn-pill btn-outline btn-white btn-large">White</a>
				<a href="#" class="btn btn-pill btn-outline btn-disabled btn-large">Disabled</a>
			</section>
			<hr />
			<section>
				<h2>Button with icon</h2>
				<a href="#" class="btn btn-rectangle btn-primary">Primary Icon <i class="icon icon-unlock-solid"></i></a>
			</section>
			<hr />
			<section>
				<h2>Round button</h2>
				<a href="#" class="btn btn-round"><i class="icon icon-edit-solid"></i></a>
			</section>
			<hr />
			<section>
				<h2>Full width button</h2>
				<a href="#" class="btn btn-full btn-primary">Primary</a>
				<a href="#" class="btn btn-full btn-secondary">Secondary</a>
				<a href="#" class="btn btn-full btn-success">Success</a>
				<a href="#" class="btn btn-full btn-danger">Danger</a>
				<a href="#" class="btn btn-full btn-warning">Warning</a>
				<a href="#" class="btn btn-full btn-disabled">Disabled</a>
			</section>
			<hr />
			<section>
				<h2>Dropdown</h2>
				<div class="dropdown">
					<a href="#" class="btn btn-rectangle btn-primary btn-dropdown">Dropdown</a>
					<ul class="dropdown-content">
						<li><a href="#">Item</a></li>
						<li><a href="#">Item</a></li>
						<li><a href="#">Item</a></li>
						<li><a href="#">Item</a></li>
						<li><a href="#">Item</a></li>
					</ul>
				</div>
			</section>
		</main>
	</body>
</html>
