<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSSS | Circular Charts</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />
		<style>
			.circular-chart {
				float: left;
				margin-right: 20px;
			}
		</style>
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Circular Charts</h1>
			<section>
				<h2>Not animated</h2>
				<div class="circular-chart circular-5 no-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								5%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-10 no-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">10%</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-15 no-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								15%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-20 no-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">20%</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-25 no-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								25%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-30 no-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								30%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-35 no-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								35%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-40 no-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								40%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-45 no-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								45%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-50 no-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								50%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-55 no-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								55%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-60 no-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								60%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-65 no-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								65%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-70 no-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								70%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-75 no-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								75%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-80 no-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								80%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-85 no-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								85%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-90 no-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								90%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-95 no-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								95%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-100 no-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								100%
							</text>
						</g>
					</svg>
				</div>
			</section>

			<section>
				<h2>Animated</h2>
				<div class="circular-chart circular-5 circular-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								5%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-10 circular-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">10%</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-15 circular-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								15%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-20 circular-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">20%</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-25 circular-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								25%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-30 circular-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								30%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-35 circular-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								35%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-40 circular-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								40%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-45 circular-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								45%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-50 circular-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								50%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-55 circular-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								55%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-60 circular-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								60%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-65 circular-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								65%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-70 circular-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								70%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-75 circular-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								75%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-80 circular-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								80%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-85 circular-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								85%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-90 circular-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								90%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-95 circular-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								95%
							</text>
						</g>
					</svg>
				</div>

				<div class="circular-chart circular-100 circular-anim">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100">
						<circle class="circular-chart-background" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<circle class="circular-chart-circle" style="cx: 16.91549431; cy: 16.91549431; r: 15.91549431;" />
						<g class="circular-chart-info">
							<text class="circular-chart-number" x="16.91549431" y="16.5" alignment-baseline="central" text-anchor="middle" font-size="8">
								100%
							</text>
						</g>
					</svg>
				</div>
			</section>
		</main>
	</body>
</html>
