<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Colors</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />

		<style>
			.color,
			.border {
				width: 50px;
				height: 50px;
				float: left;
				margin-bottom: 20px;
				margin-right: 20px;
			}

			.border {
				border-style: solid;
				border-width: 1px;
			}

			.text {
				width: auto;
				float: left;
				margin-bottom: 20px;
				margin-right: 20px;
			}
		</style>
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Colors</h1>
			<section>
				<h2>Backgrounds</h2>
				<div class="color bg-primary"></div>
				<div class="color bg-secondary"></div>
				<div class="color bg-danger"></div>
				<div class="color bg-success"></div>
				<div class="color bg-warning"></div>
				<div class="color bg-black"></div>
				<div class="color bg-white"></div>
				<div class="color bg-dark-gray"></div>
				<div class="color bg-gray"></div>
				<div class="color bg-light-gray"></div>
				<div class="color bg-lighter-gray"></div>
				<div class="color bg-grayscale-95"></div>
				<div class="color bg-grayscale-90"></div>
				<div class="color bg-grayscale-85"></div>
				<div class="color bg-grayscale-80"></div>
				<div class="color bg-grayscale-75"></div>
				<div class="color bg-grayscale-70"></div>
				<div class="color bg-grayscale-65"></div>
				<div class="color bg-grayscale-60"></div>
				<div class="color bg-grayscale-55"></div>
				<div class="color bg-grayscale-50"></div>
				<div class="color bg-grayscale-45"></div>
				<div class="color bg-grayscale-40"></div>
				<div class="color bg-grayscale-35"></div>
				<div class="color bg-grayscale-30"></div>
				<div class="color bg-grayscale-25"></div>
				<div class="color bg-grayscale-20"></div>
				<div class="color bg-grayscale-15"></div>
				<div class="color bg-grayscale-10"></div>
				<div class="color bg-grayscale-5"></div>
			</section>

			<section>
				<h2>Borders</h2>
				<div class="border border-primary"></div>
				<div class="border border-secondary"></div>
				<div class="border border-danger"></div>
				<div class="border border-success"></div>
				<div class="border border-warning"></div>
				<div class="border border-black"></div>
				<div class="border border-white"></div>
				<div class="border border-dark-gray"></div>
				<div class="border border-gray"></div>
				<div class="border border-light-gray"></div>
				<div class="border border-lighter-gray"></div>
				<div class="border border-grayscale-95"></div>
				<div class="border border-grayscale-90"></div>
				<div class="border border-grayscale-85"></div>
				<div class="border border-grayscale-80"></div>
				<div class="border border-grayscale-75"></div>
				<div class="border border-grayscale-70"></div>
				<div class="border border-grayscale-65"></div>
				<div class="border border-grayscale-60"></div>
				<div class="border border-grayscale-55"></div>
				<div class="border border-grayscale-50"></div>
				<div class="border border-grayscale-45"></div>
				<div class="border border-grayscale-40"></div>
				<div class="border border-grayscale-35"></div>
				<div class="border border-grayscale-30"></div>
				<div class="border border-grayscale-25"></div>
				<div class="border border-grayscale-20"></div>
				<div class="border border-grayscale-15"></div>
				<div class="border border-grayscale-10"></div>
				<div class="border border-grayscale-5"></div>
			</section>

			<section>
				<h2>Texts</h2>
				<div class="text font-primary">.font-primary</div>
				<div class="text font-secondary">.font-secondary</div>
				<div class="text font-danger">.font-danger</div>
				<div class="text font-success">.font-success</div>
				<div class="text font-warning">.font-warning</div>
				<div class="text font-black">.font-black</div>
				<div class="text font-white">.font-white</div>
				<div class="text font-dark-gray">.font-dark-gray</div>
				<div class="text font-gray">.font-gray</div>
				<div class="text font-light-gray">.font-light-gray</div>
				<div class="text font-lighter-gray">.font-lighter-gray</div>
				<div class="text font-grayscale-95">.font-grayscale-95</div>
				<div class="text font-grayscale-90">.font-grayscale-90</div>
				<div class="text font-grayscale-85">.font-grayscale-85</div>
				<div class="text font-grayscale-80">.font-grayscale-80</div>
				<div class="text font-grayscale-75">.font-grayscale-75</div>
				<div class="text font-grayscale-70">.font-grayscale-70</div>
				<div class="text font-grayscale-65">.font-grayscale-65</div>
				<div class="text font-grayscale-60">.font-grayscale-60</div>
				<div class="text font-grayscale-55">.font-grayscale-55</div>
				<div class="text font-grayscale-50">.font-grayscale-50</div>
				<div class="text font-grayscale-45">.font-grayscale-45</div>
				<div class="text font-grayscale-40">.font-grayscale-40</div>
				<div class="text font-grayscale-35">.font-grayscale-35</div>
				<div class="text font-grayscale-30">.font-grayscale-30</div>
				<div class="text font-grayscale-25">.font-grayscale-25</div>
				<div class="text font-grayscale-20">.font-grayscale-20</div>
				<div class="text font-grayscale-15">.font-grayscale-15</div>
				<div class="text font-grayscale-10">.font-grayscale-10</div>
				<div class="text font-grayscale-5">.font-grayscale-5</div>
			</section>
		</main>
	</body>
</html>
