<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Cover parallax</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />
	</head>

	<body>
		<div class="cover-parallax">
			<div class="cover-parallax-img" style="background: url(../images/cover-parallax.jpg)"></div>
			<div class="title-parallax">
				<h1 class="display">Cover Parallax</h1>
				<h2 class="display">Subtitle</h2>
			</div>
		</div>
		<div class="container-parallax">
			<main class="container">
				<section>
					<h3>Content container</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce urna enim, convallis ut porta non, semper faucibus tortor. Sed quis tincidunt augue. Fusce id posuere odio, sit amet vehicula felis. Proin interdum tempus viverra. Suspendisse potenti. Cras quis pellentesque diam. Nulla feugiat at tellus luctus commodo. Mauris tincidunt venenatis augue, sit amet lacinia dui accumsan vel. Nullam blandit commodo risus, vel tincidunt mauris aliquet sed. Proin quis nisi varius,
						vulputate mauris id, consectetur felis. Integer sit amet urna ornare, convallis magna eu, sollicitudin ante. Mauris vitae luctus magna, ac ultricies ex. Suspendisse porta, ipsum nec finibus ultrices, lacus enim ornare nibh, eget venenatis nulla sem ac sem. In a velit eros.<br />Sed euismod orci at mi pretium lacinia. Proin sit amet nibh neque. Donec vulputate ex augue, sed sodales est dignissim a. Curabitur lacinia vehicula risus, nec euismod augue cursus a. Praesent
						metus lacus, tristique in pretium non, tempus ut tortor. Vestibulum bibendum sodales libero, et scelerisque diam tincidunt vitae. Sed imperdiet scelerisque lorem, in pulvinar lacus. Morbi tempor, tellus eu vestibulum sodales, ipsum nisl facilisis ipsum, ut convallis augue lectus nec ligula. Cras rhoncus purus posuere nisi pharetra, eget varius nisi pellentesque.<br />Aliquam elementum elementum odio rhoncus eleifend. Curabitur vestibulum eu leo sed suscipit. Curabitur
						quis fermentum ligula. Proin volutpat risus leo, in sollicitudin eros consequat ut. Sed facilisis nunc nulla, eget feugiat ante fringilla gravida. Cras sit amet ipsum erat. Praesent facilisis dictum eros at dapibus.<br />Sed mi dui, varius suscipit volutpat sit amet, blandit vitae leo. Sed non dictum augue. Sed dapibus eu erat et placerat. Proin sodales pellentesque tristique. Quisque commodo leo sit amet augue interdum facilisis. Integer eget neque vel ipsum placerat
						lacinia id in nisl. Aenean quis ullamcorper massa. Proin blandit nulla at nunc scelerisque ultricies. Morbi pulvinar libero metus, sit amet viverra nunc vestibulum ac. Duis in aliquam sem, nec tempus dolor. Integer venenatis lorem vitae interdum tincidunt.<br />Proin id lectus pharetra neque rutrum maximus. Sed sit amet tortor eu turpis convallis maximus vitae at elit. Suspendisse et porta urna. Curabitur vitae efficitur arcu. Sed est augue, molestie ac urna eu, dictum
						molestie lacus. Nulla mauris mi, mattis eu justo vel, dignissim faucibus elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet arcu quis condimentum cursus. Suspendisse volutpat tempus orci sed venenatis. Proin mattis tristique dui, id malesuada purus cursus nec. Donec vel neque nec ligula rhoncus accumsan. Morbi ullamcorper non enim sit amet convallis. Integer in fermentum augue, ut malesuada ex. Fusce euismod enim id pellentesque feugiat. Integer
						efficitur, metus ut consequat tempus, mauris ligula iaculis quam, sed facilisis enim nisi varius metus.
					</p>
				</section>
			</main>
		</div>
	</body>
</html>
