<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Fonts</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />
		<script src="../js/highlight.pack.js"></script>
	</head>

	<body>
		<main class="container">
			<section class="display no-marg-top">
				<h1 class="display no-marg-top">H1 title display</h1>
			</section>
			<hr />
			<section>
				<h2 class="display">H2 Title display</h2>
			</section>
			<hr />
			<section>
				<h3 class="display">H3 Title display</h3>
			</section>
			<hr />
			<section>
				<h4 class="display">H4 Title display</h4>
			</section>
			<hr />
			<section>
				<h5 class="display">H5 Title display</h5>
			</section>
			<hr />
			<section>
				<h1>H1 Title normal</h1>
			</section>
			<hr />
			<section>
				<h2>H2 Title normal</h2>
			</section>
			<hr />
			<section>
				<h3>H3 Title normal</h3>
			</section>
			<hr />
			<section>
				<h4>H4 Title normal</h4>
			</section>
			<hr />
			<section>
				<h5>H5 Title normal</h5>
			</section>
			<hr />
			<section>
				<h6>H6 Title normal</h6>
			</section>
			<hr />
			<section>
				<nav>Nav</nav>
			</section>
			<hr />
			<section>
				<div class="header-full">Nav Full Screen</div>
			</section>
			<hr />
			<section>
				<blockquote>Quote</blockquote>
			</section>
			<hr />
			<section>
				<p>Paragraph</p>
			</section>
			<hr />
			<section>
				<strong>Strong</strong>
			</section>
			<hr />
			<section>
				<em>Italic</em>
			</section>
			<hr />
			<section>
				<a href="#" class="links">Links</a>
			</section>
			<hr />
			<section>
				<ul class="breadcrumbs">
					<li class="breadcrumbs-links"><a href="#">Breadcrumbs Links</a></li>
					<li class="breadcrumbs-active">Breadcrumbs active</li>
				</ul>
			</section>
			<hr />
			<section>
				<ul>
					<li>List normal</li>
					<li>List normal</li>
					<li>List normal</li>
				</ul>
			</section>
			<hr />
			<section>
				<ol>
					<li>List Numbers</li>
					<li>List Numbers</li>
					<li>List Numbers</li>
				</ol>
			</section>
			<hr />
			<section>
				<dl>
					<dt>Description Title</dt>
					<dd>Description content</dd>
					<dt>Description Title</dt>
					<dd>Description content</dd>
					<dt>Description Title</dt>
					<dd>Description content</dd>
				</dl>
			</section>
			<hr />
			<section>
				<div class="badge">Badge</div>
			</section>
			<hr />
			<section>
				<a href="#" class="btn">Buttons</a>
			</section>
			<hr />
			<section>
				<a href="#" class="btn btn-large">Buttons Large</a>
			</section>
			<hr />
			<section>
				<small>Subtitles</small>
			</section>
			<hr />
			<section>
				<table>
					<thead>
						<tr>
							<td>Table Head</td>
							<td>Table Head</td>
							<td>Table Head</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Table Content</td>
							<td>Table Content</td>
							<td>Table Content</td>
						</tr>
					</tbody>
				</table>
			</section>
			<hr />
			<section>
				<input type="text" value="Input" />
			</section>
			<hr />
			<section>
				<span class="placeholder">Placeholder</span>
			</section>
			<hr />
			<section>
				<input type="text" value="Input" disabled />
			</section>
			<hr />
			<section>
				<span class="placeholder placeholder-disabled">Placeholder Disabled</span>
			</section>
			<hr />
			<section>
				<pre>
                         <code class="html">
                              Code
                         </code>
                    </pre>
			</section>
			<hr />
			<section>
				<p>Paragraph with <code>code</code> inside</p>
			</section>
			<hr />
			<section>
				<span class="placeholder placeholder-small">Placeholder Small</span>
			</section>
			<hr />
			<section>
				<span class="placeholder placeholder-small placeholder-disabled">Placeholder Small Disabled</span>
			</section>
			<hr />
			<section>
				<p class="error">Error text</p>
			</section>
			<hr />
			<section>
				<footer>
					Footer
				</footer>
			</section>
		</main>
		<script src="../js/script.min.js"></script>
		<script>
			hljs.initHighlightingOnLoad();
		</script>
	</body>
</html>
