<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Footer</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Footer</h1>
			<section>
				<footer>
					<hr />
					<div class="footer-container">
						<ul class="left">
							<li class="logo">
								<a href="#"><img src="../images/logo-fajny-css.svg" alt=""/></a>
							</li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
						</ul>

						<ul class="right social">
							<li>
								<a href="#" target="_blank"><i class="icon icon-facebook-square-brand"></i></a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="icon icon-linkedin-square-brand"></i></a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="icon icon-behance-square-brand"></i></a>
							</li>
						</ul>
					</div>
				</footer>
			</section>
		</main>
	</body>
</html>
