<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Grids</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />
		<style>
			.col-result {
				background: #1b4568;
				border-radius: 5px;
				text-align: center;
				color: white;
				padding: 10px 0;
			}
		</style>
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Grids</h1>

			<div class="row">
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
			</div>

			<div class="row">
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-2-12 col-result">col-2-12</div>
			</div>

			<div class="row">
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-3-12 col-result">col-3-12</div>
			</div>

			<div class="row">
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-4-12 col-result">col-4-12</div>
			</div>

			<div class="row">
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-5-12 col-result">col-5-12</div>
			</div>

			<div class="row">
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-6-12 col-result">col-6-12</div>
			</div>

			<div class="row">
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-7-12 col-result">col-7-12</div>
			</div>

			<div class="row">
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-8-12 col-result">col-8-12</div>
			</div>

			<div class="row">
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-9-12 col-result">col-9-12</div>
			</div>

			<div class="row">
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-10-12 col-result">col-10-12</div>
			</div>

			<div class="row">
				<div class="col-1-12 col-result">col-1-12</div>
				<div class="col-11-12 col-result">col-11-12</div>
			</div>

			<div class="row">
				<div class="col-12-12 col-result">col-12-12</div>
			</div>
		</main>
	</body>
</html>
