<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Images</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Images</h1>
			<section>
				<h2>Images container</h2>
				<img src="../images/pic-img.jpg" alt="" />
			</section>
			<hr />
			<section>
				<h2>Images caption</h2>
				<div class="image-container">
					<img src="../images/pic-img.jpg" alt="" />
					<p class="caption">Caption</p>
				</div>
			</section>
		</main>
	</body>
</html>
