<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Modals</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />
		<style></style>
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Modals</h1>
			<section>
				<h2>Modal normal</h2>
				<div class="modal">
					<input type="checkbox" name="" id="openModal1" class="check-open-modal" />
					<label for="openModal1" class="btn btn-rectangle btn-primary">Open modal</label>
					<div class="modal-container no-anim">
						<label for="openModal1" class="check-close-modal"><i class="icon icon-cross-solid"></i></label>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum dui id tempus efficitur. Suspendisse eu pulvinar eros, vel faucibus quam. Maecenas tincidunt quam eu mattis placerat. Suspendisse ultricies consectetur ullamcorper. Vestibulum ornare, ipsum eget iaculis pretium, tortor augue tempus lacus, ut imperdiet diam nibh eu sapien. Nam condimentum lorem turpis, eget ultricies arcu finibus non. Mauris tempus tincidunt risus, et pulvinar nisl accumsan
							eget. Fusce sit amet eros imperdiet, porttitor leo non, scelerisque neque.
						</p>
					</div>
				</div>
			</section>

			<section>
				<h2>Modal from top</h2>
				<div class="modal">
					<input type="checkbox" name="" id="openModal2" class="check-open-modal" />
					<label for="openModal2" class="btn btn-rectangle btn-primary">Open modal</label>
					<div class="modal-container from-top">
						<label for="openModal2" class="check-close-modal"><i class="icon icon-cross-solid"></i></label>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum dui id tempus efficitur. Suspendisse eu pulvinar eros, vel faucibus quam. Maecenas tincidunt quam eu mattis placerat. Suspendisse ultricies consectetur ullamcorper. Vestibulum ornare, ipsum eget iaculis pretium, tortor augue tempus lacus, ut imperdiet diam nibh eu sapien. Nam condimentum lorem turpis, eget ultricies arcu finibus non. Mauris tempus tincidunt risus, et pulvinar nisl accumsan
							eget. Fusce sit amet eros imperdiet, porttitor leo non, scelerisque neque.
						</p>
					</div>
				</div>
			</section>

			<section>
				<h2>Modal from bottom</h2>
				<div class="modal">
					<input type="checkbox" name="" id="openModal3" class="check-open-modal" />
					<label for="openModal3" class="btn btn-rectangle btn-primary">Open modal</label>
					<div class="modal-container from-bottom">
						<label for="openModal3" class="check-close-modal"><i class="icon icon-cross-solid"></i></label>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum dui id tempus efficitur. Suspendisse eu pulvinar eros, vel faucibus quam. Maecenas tincidunt quam eu mattis placerat. Suspendisse ultricies consectetur ullamcorper. Vestibulum ornare, ipsum eget iaculis pretium, tortor augue tempus lacus, ut imperdiet diam nibh eu sapien. Nam condimentum lorem turpis, eget ultricies arcu finibus non. Mauris tempus tincidunt risus, et pulvinar nisl accumsan
							eget. Fusce sit amet eros imperdiet, porttitor leo non, scelerisque neque.
						</p>
					</div>
				</div>
			</section>

			<section>
				<h2>Modal from left</h2>
				<div class="modal">
					<input type="checkbox" name="" id="openModal4" class="check-open-modal" />
					<label for="openModal4" class="btn btn-rectangle btn-primary">Open modal</label>
					<div class="modal-container from-left">
						<label for="openModal4" class="check-close-modal"><i class="icon icon-cross-solid"></i></label>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum dui id tempus efficitur. Suspendisse eu pulvinar eros, vel faucibus quam. Maecenas tincidunt quam eu mattis placerat. Suspendisse ultricies consectetur ullamcorper. Vestibulum ornare, ipsum eget iaculis pretium, tortor augue tempus lacus, ut imperdiet diam nibh eu sapien. Nam condimentum lorem turpis, eget ultricies arcu finibus non. Mauris tempus tincidunt risus, et pulvinar nisl accumsan
							eget. Fusce sit amet eros imperdiet, porttitor leo non, scelerisque neque.
						</p>
					</div>
				</div>
			</section>

			<section>
				<h2>Modal from right</h2>
				<div class="modal">
					<input type="checkbox" name="" id="openModal5" class="check-open-modal" />
					<label for="openModal5" class="btn btn-rectangle btn-primary">Open modal</label>
					<div class="modal-container from-right">
						<label for="openModal5" class="check-close-modal"><i class="icon icon-cross-solid"></i></label>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum dui id tempus efficitur. Suspendisse eu pulvinar eros, vel faucibus quam. Maecenas tincidunt quam eu mattis placerat. Suspendisse ultricies consectetur ullamcorper. Vestibulum ornare, ipsum eget iaculis pretium, tortor augue tempus lacus, ut imperdiet diam nibh eu sapien. Nam condimentum lorem turpis, eget ultricies arcu finibus non. Mauris tempus tincidunt risus, et pulvinar nisl accumsan
							eget. Fusce sit amet eros imperdiet, porttitor leo non, scelerisque neque.
						</p>
					</div>
				</div>
			</section>

			<section>
				<h2>Modal from middle</h2>
				<div class="modal">
					<input type="checkbox" name="" id="openModal6" class="check-open-modal" />
					<label for="openModal6" class="btn btn-rectangle btn-primary">Open modal</label>
					<div class="modal-container from-middle">
						<label for="openModal6" class="check-close-modal"><i class="icon icon-cross-solid"></i></label>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum dui id tempus efficitur. Suspendisse eu pulvinar eros, vel faucibus quam. Maecenas tincidunt quam eu mattis placerat. Suspendisse ultricies consectetur ullamcorper. Vestibulum ornare, ipsum eget iaculis pretium, tortor augue tempus lacus, ut imperdiet diam nibh eu sapien. Nam condimentum lorem turpis, eget ultricies arcu finibus non. Mauris tempus tincidunt risus, et pulvinar nisl accumsan
							eget. Fusce sit amet eros imperdiet, porttitor leo non, scelerisque neque.
						</p>
					</div>
				</div>
			</section>

			<section>
				<h2>Modal with card</h2>
				<div class="modal">
					<input type="checkbox" name="" id="openModal7" class="check-open-modal" />
					<label for="openModal7" class="btn btn-rectangle btn-primary">Open modal</label>
					<div class="modal-container no-anim">
						<label for="openModal7" class="check-close-modal"><i class="icon icon-cross-solid"></i></label>
						<div class="cards">
							<div class="cards-image" style="background: url(../images/pic-card.jpg)"></div>
							<div class="cards-content">
								<h4><a href="#">Title</a></h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper… Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper</p>
								<a href="#" class="btn">Button</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section>
				<h2>Modal with image portrait</h2>
				<div class="modal">
					<input type="checkbox" name="" id="openModal8" class="check-open-modal" />
					<label for="openModal8" class="btn btn-rectangle btn-primary">Open modal</label>
					<div class="modal-container no-anim">
						<label for="openModal8" class="check-close-modal"><i class="icon icon-cross-solid"></i></label>
						<img src="../images/modal-portrait.jpg" alt="" class="img-portrait" />
					</div>
				</div>
			</section>

			<section>
				<h2>Modal with image landscape</h2>
				<div class="modal">
					<input type="checkbox" name="" id="openModal9" class="check-open-modal" />
					<label for="openModal9" class="btn btn-rectangle btn-primary">Open modal</label>
					<div class="modal-container no-anim">
						<label for="openModal9" class="check-close-modal"><i class="icon icon-cross-solid"></i></label>
						<img src="../images/modal-landscape.jpg" alt="" class="img-landscape" />
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
