<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Other Component</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Other components</h1>
			<section>
				<h2>Clearfix</h2>
				<div class="clearfix"></div>
			</section>
			<hr />
			<section>
				<h2>HR</h2>
				<hr />
			</section>
		</main>
	</body>
</html>
