<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Pagination</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Pagination</h1>
			<section>
				<h2>Pagination Left</h2>
				<div class="pagination-container pagination-left">
					<ul class="pagination">
						<li>
							<a href="#"><i class="icon icon-chevron-left-solid"></i></a>
						</li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">10</a></li>
						<li>
							<a href="#"><i class="icon icon-chevron-right-solid"></i></a>
						</li>
					</ul>
				</div>
			</section>

			<section>
				<h2>Pagination Center</h2>
				<div class="pagination-container pagination-center">
					<ul class="pagination">
						<li>
							<a href="#"><i class="icon icon-chevron-left-solid"></i></a>
						</li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">10</a></li>
						<li>
							<a href="#"><i class="icon icon-chevron-right-solid"></i></a>
						</li>
					</ul>
				</div>
			</section>

			<section>
				<h2>Pagination Right</h2>
				<div class="pagination-container pagination-right">
					<ul class="pagination">
						<li>
							<a href="#"><i class="icon icon-chevron-left-solid"></i></a>
						</li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">10</a></li>
						<li>
							<a href="#"><i class="icon icon-chevron-right-solid"></i></a>
						</li>
					</ul>
				</div>
			</section>
		</main>
	</body>
</html>
