<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Progress</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />
		<style>
			.progress {
				margin-bottom: 20px;
			}
		</style>
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Progress Bars</h1>
			<section>
				<h2>Normal</h2>
				<div class="progress progress-primary progress-25"></div>
				<div class="progress progress-secondary progress-40"></div>
				<div class="progress progress-success progress-15"></div>
				<div class="progress progress-danger progress-60"></div>
				<div class="progress progress-warning progress-85"></div>
				<div class="progress progress-disabled progress-60"></div>
			</section>

			<section>
				<h2>Animated</h2>
				<div class="progress progress-primary progress-95 progress-anim-95"></div>
				<div class="progress progress-secondary progress-100 progress-anim-100"></div>
				<div class="progress progress-success progress-75 progress-anim-75"></div>
				<div class="progress progress-danger  progress-80 progress-anim-80"></div>
				<div class="progress progress-warning  progress-85 progress-anim-85"></div>
				<div class="progress progress-disabled  progress-90 progress-anim-90"></div>
			</section>

			<section>
				<div class="progress progress-primary progress-5 progress-anim-5"></div>
				<div class="progress progress-primary progress-10 progress-anim-10"></div>
				<div class="progress progress-primary progress-15 progress-anim-15"></div>
				<div class="progress progress-primary progress-20 progress-anim-20"></div>
				<div class="progress progress-primary progress-25 progress-anim-25"></div>
				<div class="progress progress-primary progress-30 progress-anim-30"></div>
				<div class="progress progress-primary progress-35 progress-anim-35"></div>
				<div class="progress progress-primary progress-40 progress-anim-40"></div>
				<div class="progress progress-primary progress-45 progress-anim-45"></div>
				<div class="progress progress-primary progress-50 progress-anim-50"></div>
				<div class="progress progress-primary progress-55 progress-anim-55"></div>
				<div class="progress progress-primary progress-60 progress-anim-60"></div>
				<div class="progress progress-primary progress-65 progress-anim-65"></div>
				<div class="progress progress-primary progress-70 progress-anim-70"></div>
				<div class="progress progress-primary progress-75 progress-anim-75"></div>
				<div class="progress progress-primary progress-80 progress-anim-80"></div>
				<div class="progress progress-primary progress-85 progress-anim-85"></div>
				<div class="progress progress-primary progress-90 progress-anim-90"></div>
				<div class="progress progress-primary progress-95 progress-anim-95"></div>
				<div class="progress progress-primary progress-100 progress-anim-100"></div>
			</section>
		</main>
	</body>
</html>
