<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Spinner</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />

		<style>
			.spinner {
				margin-right: 20px;
			}
		</style>
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Spinner</h1>
			<section>
				<div class="spinner primary"></div>
				<div class="spinner secondary"></div>
				<div class="spinner danger"></div>
				<div class="spinner success"></div>
				<div class="spinner warning"></div>
				<div class="spinner disabled"></div>
			</section>
		</main>
	</body>
</html>
