<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Tables</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />

		<style>
			.table-stripped tr td:first-child,
			.table-bordered tr td:first-child {
				min-width: 25px;
			}
		</style>
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Tables</h1>
			<section>
				<h2>Table stripped</h2>
				<table class="table-stripped">
					<thead>
						<tr>
							<td>#</td>
							<td>First Name</td>
							<td>Last Name</td>
							<td>Facebook</td>
							<td>Twitter</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Anna</td>
							<td>Fali</td>
							<td>Anna Fali</td>
							<td>@anna.fali</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Niek</td>
							<td>Bove</td>
							<td>Niek Bove</td>
							<td>@niek.bove</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Lacara</td>
							<td>Jones</td>
							<td>Lacara Jones</td>
							<td>@lacara.jones</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Pablo</td>
							<td>Cambeiro</td>
							<td>Pablo Cambeiro</td>
							<td>@pablo.cambeiro</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Irene</td>
							<td>Sotelo</td>
							<td>Irene Sotelo</td>
							<td>@irene.sotelo</td>
						</tr>
					</tbody>
				</table>
			</section>

			<section>
				<h2>Table bordered</h2>
				<table class="table-bordered">
					<thead>
						<tr>
							<td>#</td>
							<td>First Name</td>
							<td>Last Name</td>
							<td>Facebook</td>
							<td>Twitter</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Anna</td>
							<td>Fali</td>
							<td>Anna Fali</td>
							<td>@anna.fali</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Niek</td>
							<td>Bove</td>
							<td>Niek Bove</td>
							<td>@niek.bove</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Lacara</td>
							<td>Jones</td>
							<td>Lacara Jones</td>
							<td>@lacara.jones</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Pablo</td>
							<td>Cambeiro</td>
							<td>Pablo Cambeiro</td>
							<td>@pablo.cambeiro</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Irene</td>
							<td>Sotelo</td>
							<td>Irene Sotelo</td>
							<td>@irene.sotelo</td>
						</tr>
					</tbody>
				</table>
			</section>
		</main>
	</body>
</html>
