<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Tabs</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Tabs</h1>
			<section>
				<h2>Align left</h2>
				<div class="tabs tabs-left">
					<ul class="tablinks" role="tablist">
						<li class="active"><a role="tab">First tab</a></li>
						<li><a role="tab">Second tab</a></li>
						<li><a role="tab">Third tab</a></li>
					</ul>
				</div>
			</section>

			<section>
				<h2>Align Center</h2>
				<div class="tabs tabs-center">
					<ul class="tablinks" role="tablist">
						<li class="active"><a role="tab">First tab</a></li>
						<li><a role="tab">Second tab</a></li>
						<li><a role="tab">Third tab</a></li>
					</ul>
				</div>
			</section>

			<section>
				<h2>Align Right</h2>
				<div class="tabs tabs-right">
					<ul class="tablinks" role="tablist">
						<li class="active"><a role="tab">First tab</a></li>
						<li><a role="tab">Second tab</a></li>
						<li><a role="tab">Third tab</a></li>
					</ul>
				</div>
			</section>
		</main>
	</body>
</html>
