<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Timeline</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Timeline</h1>
			<section>
				<ol class="timeline">
					<li>
						<h5>Title</h5>
						<small>Date & location</small>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in libero ac est imperdiet vulputate. Quisque nec orci nibh. Suspendisse nec lectus hendrerit</p>
					</li>

					<li>
						<h5>Title</h5>
						<small>Date & location</small>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in libero ac est imperdiet vulputate. Quisque nec orci nibh. Suspendisse nec lectus hendrerit</p>
					</li>

					<li>
						<h5>Title</h5>
						<small>Date & location</small>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in libero ac est imperdiet vulputate. Quisque nec orci nibh. Suspendisse nec lectus hendrerit</p>
					</li>

					<li>
						<h5>Title</h5>
						<small>Date & location</small>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in libero ac est imperdiet vulputate. Quisque nec orci nibh. Suspendisse nec lectus hendrerit</p>
					</li>

					<li>
						<h5>Title</h5>
						<small>Date & location</small>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in libero ac est imperdiet vulputate. Quisque nec orci nibh. Suspendisse nec lectus hendrerit</p>
					</li>
				</ol>
			</section>
		</main>
	</body>
</html>
