<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fajny CSS | Video</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
		<link rel="stylesheet" href="../css/fajny.min.css" />
	</head>

	<body>
		<main class="container">
			<h1 class="no-marg-top">Videos</h1>
			<section>
				<h2>HTML with controls</h2>
				<div class="video-container">
					<video controls>
						<source src="../images/video-html.mp4" />
						Your browser doesn't support the video tag.
					</video>
				</div>
			</section>
			<hr />
			<section>
				<h2>HTML autoplay (only with sound off)</h2>
				<div class="video-container">
					<video autoplay muted loop>
						<source src="../images/video-html.mp4" />
						Your browser doesn't support the video tag.
					</video>
				</div>
			</section>
			<hr />
			<section>
				<h2>Video Embed</h2>
				<div class="video-container video-embed">
					<iframe src="https://www.youtube.com/embed/XEfDYMngJeE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</section>
		</main>
	</body>
</html>
