/*=============================================== Accordion ===============================================*/

.accordion {
    width: 100%;
    float: left;

    input[type="radio"] {
        display: none;
    }

    .title-accordion {
        @include font-body-bold(16px);
        cursor: pointer;
        margin-bottom: 0;
        margin-top: 0;

        &:before {
            @include icon("\ea9e");
            font-size: 12px;
            line-height: calc(16px * 1.4);
            color: $primary;
            margin-right: $margin-xxs;
            @include transition(all, 0.2s, linear);
            display: inline-block;
        }
    }

    .accordion-text {
        padding-left: 18px;
        max-height: 0;
        overflow: hidden;
        @include transition(all, 0.2s, linear);
    }

    /*================ CSS Only ================*/

    input[type="radio"]:checked {
        & ~ .title-accordion:before {
            @include transform(rotate(45deg));
        }

        & ~ .accordion-text {
            max-height: 500px;
            @include transition(all, 0.5s, linear);
        }
    }

    /*================ With JS ================*/

    .accordion-open {
        .title-accordion:before {
            @include transform(rotate(45deg));
        }

        .accordion-text {
            max-height: 500px;
            @include transition(all, 0.5s, linear);
        }
    }
}
