/*=============================================== Alerts ===============================================*/

.alert {
    width: 100%;
    max-width: 327px;
    background-color: $white;
    @include shadow-alerts();
    padding: $margin-l;
    @include border-radius($radius-l);
    float: left;

    .icon-check-circle-solid {
        color: $success;
    }

    .icon-not-allowed-solid {
        color: $danger;
    }

    .icon-warning-solid {
        color: $warning;
    }

    h4, p {
        margin: 0 0;
        float: left;
    }

    p {
        padding-left: 23px;
    }

    .container-button {
        margin-top: $margin-m;
        @include flexbox(center, flex-start, nowrap);
        float: left;
        width: 100%;

        .btn-background {
            @include shadow(none);
        }

        &.buttons-right {
            @include flexbox(center, flex-end, nowrap);
        }
    }
}