/*=============================================== Bagdes ===============================================*/

.badge {
    @include border-radius(50%);
    color: $white;
    @include flexbox(center, center, nowrap);
}

/*=========================== With icon ===========================*/

.badge-icon {
    $width: 64px;
    width: $width;
    height: $width;
    font-size: 32px;
}

/*=========================== With number ===========================*/

.badge-number {
    $width: 32px;
    width: $width;
    height: $width;
    @include font-body-bold(16px);
}