/*=============================================== Breadcrumbs ===============================================*/

.breadcrumbs {
    @include ulNone();
    @include flexbox(center, flex-start, wrap);

    li {
        @include font-body(16px);
        width: auto;
        display: block;
        padding: 0;

        &:not(:last-child) {
            margin-bottom: 0;

            &:after {
                content: "/";
                margin: 0 $margin-xxs;
            }
        }

        a {
            @include links($primary, $primary-75, 16px);
        }
    }
}