/*=============================================== Burger ===============================================*/

.burger {
    position: relative;
    border: none;
    background-color: transparent;
    width: 32px;
    height: 24px;

    @include colorHover(color, color);

    span {
        display: block;
        width: 100%;
        height: 2px;
        border-radius: $radius-round;
        position: absolute;
        left: 0;
        background-color: currentColor;
        transition: $transition-short;

        &:first-child {
            top: 0;
        }

        &:nth-child(2) {
            top: calc(50% - 2px / 2);
        }

        &:last-child {
            bottom: 0;
        }
    }

    &.burger-open span {
        &:first-child {
            top: 45%;
            transform: rotate(45deg);
        }

        &:nth-child(2) {
            width: 0;
        }

        &:last-child {
            bottom: 45%;
            transform: rotate(-45deg);
        }
    }
}