/*=============================================== Buttons ===============================================*/

.btn {
    padding: $margin-xs $margin-m;
    @include border-radius($radius-m);
    @include transition(all, 0.2s, ease);
    border: 1px solid transparent;
    cursor: pointer;
    float: left;
}

/*=========================== Button styles ===========================*/

.btn-background {
    @include shadow-buttons();

    &:hover {
        @include shadow-buttons-hover();
    }
}

.btn-outline {
    border: 1px solid;
}

.btn-icon {
    i {
        font-size: 10px;
        line-height: 14px * 1.4;
        top: 0;
        vertical-align: -.2px;
    }

    &.btn-big i {
        font-size: 14px;
        line-height: 28px;
        vertical-align: -.2px;
    }

    &.btn-icon-left i {
        margin-right: $margin-xxs;
    }

    &.btn-icon-right i {
        margin-left: $margin-xxs;
    }
}

.btn-half {
    width: 50%;
    text-align: center;
}

.btn-full {
    width: 100% !important;
    text-align: center;
}

.btn-fab {
    $width: 48px;
    width: $width;
    height: $width;
    padding: 0;
    @include border-radius(50%);
    @include flexbox(center, center, nowrap);
    font-size: 24px;
    position: fixed;
    bottom: $margin-l;
    right: $margin-l;
    z-index: 999;
}

/*=========================== Button colors ===========================*/

.btn-primary {
    color: $primary;

    &:hover {
        color: $primary-75;
    }

    &.btn-background {
        background-color: $primary;
        color: $white;

        &:hover {
            background-color: $primary-75;
            color: $white;
        }
    }

    &.btn-outline {
        border-color: $primary;

        &:hover {
            border-color: $primary-75;
        }
    }
}

.btn-secondary {
    color: $secondary;

    &:hover {
        color: $secondary-75;
    }

    &.btn-background {
        background-color: $secondary;
        color: $white;

        &:hover {
            background-color: $secondary-75;
            color: $white;
        }
    }

    &.btn-outline {
        border-color: $secondary;

        &:hover {
            border-color: $secondary-75;
        }
    }
}

.btn-success {
    color: $success;

    &:hover {
        color: $success-75;
    }

    &.btn-background {
        background-color: $success;
        color: $white;

        &:hover {
            background-color: $success-75;
            color: $white;
        }
    }

    &.btn-outline {
        border-color: $success;

        &:hover {
            border-color: $success-75;
        }
    }
}

.btn-danger {
    color: $danger;

    &:hover {
        color: $danger-75;
    }

    &.btn-background {
        background-color: $danger;
        color: $white;

        &:hover {
            background-color: $danger-75;
            color: $white;
        }
    }

    &.btn-outline {
        border-color: $danger;

        &:hover {
            border-color: $danger-75;
        }
    }
}

.btn-warning {
    color: $warning;

    &:hover {
        color: $warning-75;
    }

    &.btn-background {
        background-color: $warning;
        color: $white;

        &:hover {
            background-color: $warning-75;
            color: $white;
        }
    }

    &.btn-outline {
        border-color: $warning;

        &:hover {
            border-color: $warning-75;
        }
    }
}

.btn-white {
    color: $white;

    &:hover {
        color: $gray-5;
    }

    &.btn-background {
        background-color: $white;
        color: $primary;

        &:hover {
            background-color: $gray-5;
            color: $primary;
        }
    }

    &.btn-outline {
        border-color: $white;

        &:hover {
            border-color: $gray-5;
        }
    }
}

.btn-disabled {
    color: $gray;
    cursor: not-allowed;
    @include shadow(inherit);

    &:hover {
        @include shadow(inherit);
    }

    &.btn-background {
        background-color: $lighter-gray;
    }

    &.btn-outline {
        border-color: $gray;
    }
}