/*=============================================== Cards ===============================================*/

.card {
    width: 100%;
    max-width: 327px;
    background-color: $white;
    @include shadow-cards();
    @include transition(all, .2s, ease);
    @include border-radius($radius-xl);
    overflow: hidden;

    &:hover {
        @include shadow-cards-hover();
        @include transform(scale(1.01));
    }
}

/*=========================== Image & video card ===========================*/

.card-image {
    height: 200px;
    position: relative;
    padding: $margin-m;
    cursor: pointer;

    a {
        color: $white;
        text-decoration: none;
    }

    picture, img {
        height: 200px;
    }

    picture {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    h4 {
        position: relative;
        z-index: 3;
        width: 100%;
        height: 100%;
        @include flexbox(flex-end, flex-start, nowrap);
        color: $white;
        margin: 0;
    }

    &:after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(var(--color-dark-gray), .8);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
    }

    &.card-video i {
        $width: 100%;
        width: $width;
        height: $width;
        color: $white;
        font-size: 48px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        @include flexbox(center, center, nowrap)
    }
}

/*=========================== Action card ===========================*/

.action-card {
    picture, img {
        height: 150px !important;
    }

    .content {
        padding: $margin-m;

        h4, p {
            margin: 0;
        }

        .button {
            @include flexbox(center, flex-end, nowrap);
            margin-top: $margin-m;
            width: 100%;
        }
    }
}