/*=============================================== Code container ===============================================*/

.code-container {
    width: 100%;
    overflow-x: scroll;
    background-color: $color-gray-900;
    color: $color-white;
    padding: $spacer-m;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    pre,
    code {
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    code {
        font-family: $font-family-code;
    }
}