/*=============================================== Cover ===============================================*/

.cover {
    position: relative;
    width: 100%;
    height: 100vh;

    img {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .content {
        position: relative;
        z-index: 2;
        color: $color-white;
        width: 100%;
        height: 100%;
        @include flexbox(center, center, $spacer-s);
        padding: $spacer-xxl 5vw;
        flex-direction: column;

        &>* {
            width: 100%;
            text-align: center;
        }
    }

    &[data-overlay]:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: $overlay-black-50;
    }

    &[data-align="bottom"] .content {
        align-items: flex-start;
        justify-content: flex-end;

        &>* {
            width: 100%;
            text-align: left;
        }
    }
}