/*=============================================== Dropdown ===============================================*/

.container-dropdown {
    position: relative;
    @include flexbox(flex-start, flex-start, nowrap);
    @include flex-direction(column);

    .btn {
        position: relative;
        z-index: 1;
    }

    .dropdown {
        padding: 0;
        position: relative;
        z-index: 2;
        background-color: $white;
        width: auto;
        @include shadow-cards();
        width: auto;
        display: inline-block;
        min-width: 300px;
        position: absolute;
        left: 0;
        top: calc(14px * 1.4 + #{$margin-xs} * 2);
        @include border-radius($radius-l);
        overflow: hidden;
        max-height: 0;
        @include transition(all, .5s, ease);

        li {
            padding: 0;
            display: block;
            width: auto;
            padding: 0;
            @include transition(all, .2s, ease);

            &:before {
                content: normal;
            }

            a {
                color: $black;
                text-decoration: none;
                padding: $margin-s $margin-l;
                display: inline-block;
                width: 100%;

                &:hover {
                    background-color: $primary;
                    color: $white;
                }
            }
        }
    }

    /*================ Hover (CSS) ================*/

    &.dropdown-hover .btn:hover ~ .dropdown, .dropdown:hover {
        max-height: 300px;
    }

    /*================ On click (JS) ================*/

    &.dropdown-click .dropdown {
        top: 38px;
    }

    &.dropdown-open .dropdown {
        max-height: 300px;
    }
}