/*=============================================== Footer ===============================================*/

footer {
    width: 100%;
    position: relative;
    @include flexbox(center, space-between, nowrap);
    padding: $container-padding;
    padding-top: $margin-m;
    padding-bottom: $margin-l;
    position: relative;
    z-index: 1;
    background-color: $white;

    &:before {
        content: "";
        width: $container-width;
        height: 1px;
        background-color: $light-gray;
        display: block;
        position: absolute;
        top: 0;
        left: $container-padding;
    }

    .logo {
        width: 100px;
    }

    ul {
        @include ulNone();
        @include flexbox(center, flex-start, nowrap);

        li {
            &:not(:last-child):after {
                content: "•";
                color: $gray;
                margin: 0 $margin-xxs;
            }

            a {
                @include links($primary, $primary-75, 14px);
            }
        }
    }

    @media(max-width: $breakpoint-mobile) {
        @include flex-direction(column);
        
        .logo {
            margin-bottom: $margin-m;
        }
    }
}