/*=============================================== Forms ===============================================*/

/*=========================== Text input ===========================*/

/*================ Normal ================*/

.container-input-text {
    @include flexbox(flex-start, flex-start, nowrap);
    @include flex-direction(column);

    label {
        @include font-body-bold(14px);
        color: $primary;
        margin-bottom: $margin-xxs;
    }

    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="tel"],
    input[type="url"],
    textarea {
        width: 100%;
        background-color: $white;
        border: 1px solid $light-gray;
        @include border-radius($radius-m);
        padding: $margin-xs $margin-m;

        &:focus {
            border: 1px solid $primary;
        }

        &:disabled {
            border: none;
            background-color: $gray-5;
            cursor: not-allowed;
        }
    }

    &.container-input-disabled label {
        color: $gray !important;
    }

    .error-message {
        display: none;
    }
}

/*================ Icon ================*/

.container-input-icon {
    width: 100%;
    background-color: $white;
    @include border-radius($radius-m);
    padding: $margin-xs $margin-m;
    @include flexbox(center, flex-start, nowrap);
    position: relative;

    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="tel"],
    input[type="url"] {
        border: none;
        background-color: transparent;
        padding: 0;
        position: relative;
        z-index: 1;
        margin: 0 $margin-xxs;
        @include border-radius(0);

        &:focus {
            border: none;

            & ~ .border {
                border: 1px solid $primary;
            }
        }
    }

    &.icon-left input {
        margin-right: 0;
    }

    &.icon-right input {
        margin-left: 0;
    }

    .border {
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid $light-gray;
        @include border-radius($radius-m);
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    i {
        color: $primary;
        font-size: 12px;
    }

    &.input-disabled {
        background-color: $gray-5;
        cursor: not-allowed;

        i {
            color: $gray;
        }

        .border {
            border: none;
        }
    }
}

/*================ Text area ================*/

textarea {
    resize: none;
    height: 20vh;
}

/*================ Error state ================*/

.input-error {
    label {
        color: $danger;
    }

    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="tel"],
    input[type="url"] {
        background-color: $danger-5;
        border-color: transparent;

        &:focus {
            border: 1px solid $danger;
        }
    }

    .error-message {
        display: block;
        color: $danger;
        @include font-size(14px);
        margin-top: $margin-xxs;
    }
}

/*=========================== Select ===========================*/

.select-container {
    width: 100%;
    background-color: $white;
    border: 1px solid $light-gray;
    @include border-radius($radius-m);
    position: relative;
    cursor: pointer;

    select {
        width: 100%;
        @include appearance(none);
        position: relative;
        z-index: 1;
        padding: $margin-xs $margin-m;
        border: none;
        @include border-radius($radius-m);
        cursor: pointer;

        &:disabled {
            cursor: not-allowed;
        }
    }

    &:after {
        $font-size: 12px;
        @include icon("\e984");
        font-size: $font-size;
        color: $primary;
        position: absolute;
        top: calc(50% - #{$font-size});
        right: $margin-m;
        z-index: 2;
    }

    &.select-disabled {
        background-color: $lighter-gray;
        border: none;

        &:after {
            color: $gray;
        }
    }
}

/*=========================== Checkboxes, radios and toggles ===========================*/

/*================ Radio ================*/

.radio-container {
    input {
        display: none;
    }

    @include flexbox(center, flex-start, nowrap);

    .radio-label {
        $width: 14px;
        width: $width;
        height: $width;
        border: 1px solid $primary;
        @include flexbox(center, flex-start, nowrap);
        @include border-radius(50%);
        margin-right: $margin-xxs;
        position: relative;
        cursor: pointer;

        &:after {
            content: "";
            $width: 8px;
            width: $width;
            height: $width;
            background-color: $primary;
            @include border-radius(50%);
            position: absolute;
            top: calc(50% - #{$width} / 2);
            left: calc(50% - #{$width} / 2);
            opacity: 0;
            @include transition(all, 0.2s, ease);
        }
    }

    .text-label {
        cursor: pointer;
    }

    input:checked ~ .radio-label:after {
        opacity: 1;
    }

    input:disabled {
        & ~ .radio-label {
            border: 1px solid $gray;
            cursor: not-allowed;

            &:after {
                background-color: $gray;
            }
        }

        & ~ .text-label {
            color: $gray;
            cursor: not-allowed;
        }
    }
}

/*================ Checkbox ================*/

.checkbox-container {
    input {
        display: none;
    }

    @include flexbox(center, flex-start, nowrap);

    .checkbox-label {
        $width: 14px;
        width: $width;
        height: $width;
        border: 1px solid $primary;
        @include flexbox(center, flex-start, nowrap);
        @include border-radius($radius-s);
        margin-right: $margin-xxs;
        position: relative;
        cursor: pointer;
        @include transition(all, 0.2s, ease);

        &:after {
            @include icon("\e982");
            color: $white;
            font-size: 8px;
            width: 100%;
            text-align: center;
            opacity: 0;
            @include transition(all, 0.2s, ease);
            line-height: $width;
        }
    }

    .text-label {
        cursor: pointer;
    }

    input:checked ~ .checkbox-label {
        background-color: $primary;

        &:after {
            opacity: 1;
        }
    }

    input:disabled {
        & ~ .checkbox-label {
            border: 1px solid $gray;
            cursor: not-allowed;
        }

        & ~ .text-label {
            color: $gray;
            cursor: not-allowed;
        }

        &:checked ~ .checkbox-label {
            background-color: $gray;
        }
    }
}

/*================ Toggle switch ================*/

.toggle-container {
    input {
        display: none;
    }

    @include flexbox(center, flex-start, nowrap);

    .toggle-label {
        $width: 24px;
        $height: 14px;
        width: $width;
        height: $height;
        border: 1px solid $primary;
        @include border-radius($radius-round);
        margin-right: $margin-xxs;
        position: relative;
        cursor: pointer;
        @include transition(all, 0.5s, ease);

        &:after {
            $width: 8px;
            content: "";
            width: $width;
            height: $width;
            background-color: $primary;
            @include border-radius(50%);
            position: absolute;
            left: 2px;
            top: calc(50% - #{$width} / 2);
            @include transition(all, 0.2s, ease);
        }
    }

    .text-label {
        cursor: pointer;
    }

    input:checked ~ .toggle-label {
        border: 1px solid $success;

        &:after {
            background-color: $success;
            left: 12px;
        }
    }

    input:disabled {
        & ~ .toggle-label {
            border: 1px solid $gray;
            cursor: not-allowed;

            &:after {
                background-color: $gray;
            }
        }

        & ~ .text-label {
            color: $gray;
            cursor: not-allowed;
        }
    }
}
