/*=============================================== Grid ===============================================*/

.grid {
    display: grid;
    @include gap();

    &[data-inline] {
        display: inline-grid;
    }

    &[data-justify-items="start"] {
        justify-items: start;
    }

    &[data-justify-items="end"] {
        justify-items: end;
    }

    &[data-justify-items="center"] {
        justify-items: center;
    }

    &[data-justify-items="stretch"] {
        justify-items: stretch;
    }

    &[data-align-items="start"] {
        align-items: start;
    }

    &[data-align-items="end"] {
        align-items: end;
    }

    &[data-align-items="center"] {
        align-items: center;
    }

    &[data-align-items="stretch"] {
        align-items: stretch;
    }

    &[data-justify-content="start"] {
        justify-content: start;
    }

    &[data-justify-content="end"] {
        justify-content: end;
    }

    &[data-justify-content="center"] {
        justify-content: center;
    }

    &[data-justify-content="stretch"] {
        justify-content: stretch;
    }

    &[data-justify-content="space-around"] {
        justify-content: space-around;
    }

    &[data-justify-content="space-between"] {
        justify-content: space-between;
    }

    &[data-justify-content="space-evenly"] {
        justify-content: space-evenly;
    }

    &[data-align-content="start"] {
        align-content: start;
    }

    &[data-align-content="end"] {
        align-content: end;
    }

    &[data-align-content="center"] {
        align-content: center;
    }

    &[data-align-content="stretch"] {
        align-content: stretch;
    }

    &[data-align-content="space-around"] {
        align-content: space-around;
    }

    &[data-align-content="space-between"] {
        align-content: space-between;
    }

    &[data-align-content="space-evenly"] {
        align-content: space-evenly;
    }

    @for $i from 2 through 3 {
        &[data-col="#{$i}"] {
            grid-template-columns: repeat($i, 1fr);

            @include tablet() {
                grid-template-columns: repeat(2, 1fr);
            }

            @include mobile() {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    @for $i from 4 through 5 {
        &[data-col="#{$i}"] {
            grid-template-columns: repeat($i, 1fr);

            @include tablet() {
                grid-template-columns: repeat(3, 1fr);
            }

            @include mobile() {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    @for $i from 6 through 12 {
        &[data-col="#{$i}"] {
            grid-template-columns: repeat($i, 1fr);

            @include tablet() {
                grid-template-columns: repeat(4, 1fr);
            }

            @include mobile() {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}