/*=============================================== Hr ===============================================*/

hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: $color-gray-200;
    display: block;
}