/*=============================================== Modals ===============================================*/

.modal {
    .check-open-modal {
        display: none;
    }

    .label-open-modal {
        cursor: pointer;
        margin: $margin-s 0;
        @include font-body(16px);
    }

    .modal-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
        background-color: rgba(var(--color-dark-gray), 0.8);
        display: none;
        padding: $margin-xl;

        .check-close-modal {
            position: absolute;
            top: $margin-xl;
            right: $margin-xl;
            color: $white;
        }

        p {
            width: 100%;
            max-width: 800px;
            padding: $margin-l $margin-m;
            background-color: $white;
            @include shadow-cards();
            @include border-radius($radius-l);
            overflow: hidden;
        }

        .fit {
            width: 90%;
            height: 90%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

/*=========================== CSS solution ===========================*/

.check-open-modal:checked ~ .modal-container {
    @include flexbox(center, center, nowrap);
}

/*=========================== JS solution ===========================*/

.modal-open .modal-container {
    @include flexbox(center, center, nowrap);
}

/*=========================== Animated opening ===========================*/

.modal-top .modal-container,
.modal-center .modal-container {
    @include flexbox(center, center, nowrap);
}

/*================ From top ================*/

.modal-top {
    .modal-container {
        top: -100vh;
        @include transition(all, 0.5s, ease);
    }

    &.modal-open .modal-container, .check-open-modal:checked ~ .modal-container {
        top: 0;
    }
}

/*================ From center ================*/

.modal-center {
    .modal-container {
        top: 50vh;
        left: 50vw;
        width: 0;
        height: 0;
        opacity: 0;
        @include transition(all, 0.5s, ease);
        overflow: hidden;

        p,
        picture {
            opacity: 0;
            @include transition(all, 0.5s, ease);
            @include transition-delay(0.5s);
        }
    }

    &.modal-open .modal-container,
    .check-open-modal:checked ~ .modal-container {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        opacity: 1;

        p,
        picture {
            opacity: 1;
        }
    }
}
