/*=============================================== Navigation ===============================================*/

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primary;
    z-index: 9999;
    padding: $margin-l $container-padding;
    @include flexbox(center, flex-start, nowrap);

    @media (max-width: $breakpoint-mobile) {
        @include flexbox(center, space-between, nowrap);
    }

    .logo {
        width: 100px;
        margin-right: $margin-m;
        margin-top: 4px;
    }

    nav {
        ul {
            @include ulNone();
            @include flexbox(center, flex-start, nowrap);

            li {
                &:not(:last-child) {
                    margin-right: $margin-m;
                }

                a {
                    color: $white;
                    @include transition(all, 0.2s, ease);
                    text-decoration: none;

                    &:hover {
                        color: $lighter-gray;
                    }
                }
            }
        }

        @media (max-width: $breakpoint-mobile) {
            position: absolute;
            top: 74px;
            left: 0;
            z-index: 998;
            background-color: $primary;
            width: 100%;
            overflow: hidden;
            max-height: 0;
            @include transition(all, 0.2s, ease);

            ul {
                @include flexbox(flex-start, flex-start, nowrap);
                @include flex-direction(column);

                li {
                    padding: $margin-xs $container-padding;
                }
            }
        }
    }

    .hamburger {
        cursor: pointer;
        width: 30px;
        height: 20px;
        position: relative;
        justify-self: flex-end;
        display: none;
        z-index: 999;

        span {
            width: 100%;
            height: 2px;
            background-color: $white;
            display: block;
            position: absolute;
            left: 0;
            @include transition(all, 0.2s, ease);

            &:first-child {
                top: 0;
            }

            &:nth-child(2) {
                top: calc(50% - 1px);
            }

            &:last-child {
                bottom: 0;
            }
        }

        @media (max-width: $breakpoint-mobile) {
            display: inherit;
        }
    }

    .input-burger {
        display: none;
    }

    @media (max-width: $breakpoint-mobile) {
        .input-burger:checked {
            & ~ .hamburger span {
                &:first-child {
                    @include transform(rotate(45deg));
                    top: 9px;
                }

                &:nth-child(2) {
                    width: 0;
                }

                &:last-child {
                    @include transform(rotate(-45deg));
                    bottom: 9px;
                }
            }

            & ~ nav {
                max-height: 300px;
            }
        }

        &.nav-open {
            .hamburger span {
                &:first-child {
                    @include transform(rotate(45deg));
                    top: 9px;
                }

                &:nth-child(2) {
                    width: 0;
                }

                &:last-child {
                    @include transform(rotate(-45deg));
                    bottom: 9px;
                }
            }

            nav {
                max-height: 300px;
            }
        }
    }
}
