/*=============================================== Pagination ===============================================*/

/*=========================== Normal pagination ===========================*/

.pagination {
    @include ulNone();
    width: 100%;
    margin: $margin-l 0;

    li {
        display: block;
        width: auto;

        &:not(:last-child) {
            margin-right: $margin-xs;
        }

        a {
            $width: 32px;
            width: $width;
            height: $width;
            color: $primary;
            text-decoration: none;
            @include transition(all, .2s, ease);
            @include font-body-bold(16px);
            @include flexbox(center, center, nowrap);
            text-align: center;
            @include border-radius($radius-m);

            &.active {
                background-color: $primary;
                color: $white;
            }

            &:hover {
                background-color: $primary-75;
                color: $white;
            }

            &.disabled {
                color: $gray;
                cursor: not-allowed;

                &:hover {
                    color: $gray;
                    background-color: transparent;
                }
            }
        }
    }
}


/*================ Align left ================*/

.pagination-left {
    @include flexbox(center, flex-start, wrap);
}

/*================ Align center ================*/

.pagination-center {
    @include flexbox(center, center, wrap);
}

/*================ Align right ================*/

.pagination-right {
    @include flexbox(center, flex-end, wrap);
}

/*=========================== Paginator ===========================*/

.paginator {
    @include flexbox(center, flex-start, nowrap);
    @include font-size(16px);

    i:first-child {
        margin: 0 $margin-xxs;
    }

    a {
        @include links($primary, $primary-75, 14px);

        &.disabled {
            @include links($gray, $gray, 14px);
            cursor: not-allowed;
        }
    }
}