/*=============================================== Pagination ===============================================*/

.pagination {
    @include flexbox(center, flex-start, $spacer-xs);

    a,
    button,
    span {
        --button-size: 32px;
        width: var(--button-size);
        height: var(--button-size);
        @include inlineFlex(center, center);
        color: $color-primary-500;
        padding: 0;
        border: none;
        border-radius: $radius-circle;
        text-decoration: none;
        background-color: transparent;
        font-weight: $font-weight-black;

        .icon {
            --icon-size: 16px;
        }

        &.active {
            background-color: $color-primary-500;
            color: $color-white;
        }

        &:disabled {
            color: $color-gray-500;
        }

        @include mobile() {
            --button-size: 24px;
        }
    }

    a,
    button {
        transition: $transition-short;

        @include hover() {
            &:not(:disabled):hover {
                background-color: $color-primary-300;
                color: $color-white;
            }

            &:not(:disabled):active {
                background-color: $color-primary-600;
            }
        }
    }

    &[data-justify="center"] {
        justify-content: center;
    }

    &[data-justify="right"] {
        justify-content: flex-end;
    }
}