/*=============================================== Spinner ===============================================*/

.spinner {
    $border: 8px;
    border: $border solid transparent;
    @include border-radius(50%);
	width: 40px;
	height: 40px;
    @include animation(spin 2s linear infinite);
    
    &.spinner-primary {
        border: {
            top: $border solid $primary;
            right: $border solid $primary;
            bottom: $border solid $primary;
        }
    }

    &.spinner-secondary {
        border: {
            top: $border solid $secondary;
            right: $border solid $secondary;
            bottom: $border solid $secondary;
        }
    }

    &.spinner-success {
        border: {
            top: $border solid $success;
            right: $border solid $success;
            bottom: $border solid $success;
        }
    }

    &.spinner-danger {
        border: {
            top: $border solid $danger;
            right: $border solid $danger;
            bottom: $border solid $danger;
        }
    }

    &.spinner-warning {
        border: {
            top: $border solid $warning;
            right: $border solid $warning;
            bottom: $border solid $warning;
        }
    }

    &.spinner-disabled {
        border: {
            top: $border solid $gray;
            right: $border solid $gray;
            bottom: $border solid $gray;
        }
    }
}