/*=============================================== Tables ===============================================*/

table {
    width: 100%;
    display: table;
    border-collapse: initial;
    border-spacing: 0;
    background: $white;

    thead {
        background-color: $primary;
        color: $white;
    }

    td {
        padding: $margin-xs $margin-m;

        @media(max-width: $breakpoint-mobile) {
            display: block;
        }
    }
}

/*=========================== Stripped ===========================*/

.table-stripped  tbody tr:nth-child(even) {
    background-color: $gray-5;
}

/*=========================== Border ===========================*/

.table-border {
    border: 1px solid $light-gray;

    tr td {
        border-bottom: 1px solid $light-gray;

        &:not(:last-child) {
            border-right: 1px solid $light-gray;
        }

        @media(max-width: $breakpoint-mobile) {
            border-bottom: none;

            &:not(:last-child) {
                border-right: none;
            }

            &:last-child {
                border-bottom: 1px solid $light-gray;
            }
        }
    }

    tr:last-child td {
        border-bottom: none;
    }

    thead tr td:not(:last-child) {
        border-right-color: $white;

        @media(max-width: $breakpoint-mobile) {
            border-right: none;
        }
    }
}