/*=============================================== Tabs ===============================================*/




.tab-container {
    position: relative;
    
	input[type="radio"] {
		display: none;
	}

	label {
		min-width: 100px;
		position: relative;
		float: left;
        cursor: pointer;
        margin-right: $margin-m;
        @include font-body(16px);

        @media(max-width: $breakpoint-mobile) {
            clear: both;
            margin-bottom: $margin-m;
        }
	}

	input:checked + label:after {
		content: "";
		width: 100%;
		min-width: 100px;
		background-color: $primary;
		height: 4px;
		position: absolute;
		bottom: -5px;
		left: 0;
        float: left;
        z-index: 1;
	}

	.tab-panel {
		display: none;
	}

	.tab-content {
		margin-top: $margin-m;
		float: left;
		width: 100%;
	}

	.line {
		width: 100%;
        border: .5px solid $light-gray;
        display: block;
        position: absolute;
        left: 0;
        top: 25px;
        z-index: 0;

        @media(max-width: $breakpoint-mobile) {
            display: none;
        }
	}
}

.tab-container>input:first-child:checked~.tab-content>.tab-panel:first-child,
.tab-container>input:nth-child(3):checked~.tab-content>.tab-panel:nth-child(2),
.tab-container>input:nth-child(5):checked~.tab-content>.tab-panel:nth-child(3),
.tab-container>input:nth-child(4):checked~.tab-content>.tab-panel:nth-child(4),
.tab-container>input:nth-child(7):checked~.tab-content>.tab-panel:nth-child(4),
.tab-container>input:nth-child(9):checked~.tab-content>.tab-panel:nth-child(5),
.tab-container>input:nth-child(11):checked~.tab-content>.tab-panel:nth-child(6) { 
	display: block;
}
