/*=============================================== Tags ===============================================*/

.tag {
    @include border-radius($radius-round);
    color: $white;
    width: auto;
    display: inline-block;
    padding: $margin-xxs $margin-s;

    &.tag-icon:after {
        @include icon("\e99c");
        font-size: 10px;
        margin-left: $margin-xs;
    }
}