/*=============================================== Timeline ===============================================*/

.timeline {
    @include ulNone();
    max-width: 327px;
    position: relative;
    @include flexbox(flex-start, flex-start, nowrap);
    @include flex-direction(column);

    &:before {
        content: "";
        position: absolute;
        left: 8px;
        top: 2px;
        height: 100%;
        width: 2px;
        display: block;
        background-color: $primary;
    }

    li {
        padding-left: calc(16px + #{$margin-xs});
        position: relative;

        &:not(:last-child) {
            margin-bottom: $margin-l;
        }

        &:before {
            $width: 16px;
            content: "";
            position: absolute;
            left: 0;
            top: 2px;
            display: block;
            width: $width;
            height: $width;
            @include border-radius(50%);
            background-color: $primary;
            border: 1px solid $white;
            @include shadow-cards();
        }

        h4, small, p {
            margin: 0;
        }
    }
}